<div class="stocktake-page detail">

  {{!-- TITLE --}}
  <nav class="tab-bar">
    {{#back-link fallbackRoute="/" }}
      <div class="back-link">{{ t 'back' }}</div>
    {{/back-link}}

    <section class="middle tab-bar-section">
      <h1 class="title">
        {{ stocktake.name }}
      </h1>
    </section>

    <section class="right tab-bar-section">
      {{#unless (is-or stocktake.isAwaitingProcess stocktake.isProcessing)}}
        {{#composable-drop-down as |dropDown|}}
          {{#dropDown.dropDownHeader}}
              <i>{{fa-icon 'ellipsis-v' size='lg'}}</i>
          {{/dropDown.dropDownHeader}}

          {{#dropDown.dropDownBody}}
            <div class="options_menu_list option_margin">
              <div class="option_menu">
                  <div disabled="{{if stocktake.cannotCommit true}}" {{action 'commit'}}>
                    {{t 'stocktakes.commit_stocktake'}}
                  </div>
                  <div {{action 'cancelStocktake'}}>
                    {{t 'stocktakes.cancel_stocktake'}}
                  </div>
              </div>
            </div>
          {{/dropDown.dropDownBody}}
        {{/composable-drop-down}}
      {{/unless}}
    </section>
  </nav>

  <div class="content">
    {{#if (is-or stocktake.isAwaitingProcess stocktake.isProcessing)}}
      <div class="processing-overlay">
        <div><i>{{fa-icon 'cog' spin=true size='lg'}}</i> </div>
        <div>{{t 'stocktakes.processing_text'}}</div>
      </div>
    {{/if}}

    <div class="row">
      <div class="status-bar state-{{stocktake.state}}">
        {{t (concat 'stocktakes.states.' stocktake.state)}} - 
        {{display-datetime stocktake.updatedAt format="DD MMM YY HH:mm"}}
      </div>
    </div>

    {{#if isScanning}}
      <div class="row scanner-overlay">
        <div class="scanner-preview {{if isScanning 'show'}}" id="{{scannerPreviewId}}"></div>
        <div class="scanner-error {{if scannerError 'active'}}">{{scannerError}}</div>
      </div>
    {{/if}}

    {{!--  SAVING/ERROR MESSAGE --}}
    <div class="row message-zone">
      {{#if saveError}}
        <div class="top-message error-message">
          <i>{{fa-icon 'exclamation-circle'}}</i>
          {{t 'stocktakes.save_error'}}
          <a {{action 'saveChanges'}}>{{t 'stocktakes.try_again'}}</a>
        </div>
      {{else}}
        <div class="top-message saving-message {{if saving 'show'}}">
          <i>{{fa-icon 'spinner' spin=true}}</i>
          {{t 'stocktakes.saving'}}
        </div>
      {{/if}}
    </div>

    {{!-- ACTION BUTTONS --}}
    {{#if stocktake.isOpen}}
      <div class="row buttons-container flex">
        <button class="button ellipsis {{if isScanning 'light'}} {{unless canScan 'disabled'}}" {{action 'toggleScanning'}}>
          {{fa-icon 'qrcode'}} 
          {{#if isScanning}}
            {{t 'stocktakes.stop_scanning'}}
          {{else}}
            {{t 'stocktakes.scanner_mode'}}
          {{/if}}
        </button>

        <button class="button {{if barcodeService.flashlightActive 'light'}} {{unless canScan 'disabled'}}" {{action 'toggleFlashlight' target=barcodeService}}>
          {{fa-icon 'lightbulb' size='lg'}}
        </button>
        <button class="button ellipsis" {{action (multi-actions (action "stopScanning") (action "addItem"))}}>
          {{fa-icon 'plus'}} {{t 'stocktakes.add_item'}}
        </button>
      </div>

      <div class="row buttons-container flex">
        <div class="search-text-input">
          <i class="close-button" {{action (mut searchTerm) ""}}>
            {{fa-icon 'times-circle'}}
          </i>
          {{input type="text" value=searchTerm name="stocktakeSearch" placeholder="Filter list" pattern=".*\S.*"}}
        </div>
        <div class="filter-dropdown-container">
          {{#composable-drop-down as |dropDown|}}
            {{#dropDown.dropDownHeader}}
                <div class="selected_option">
                  {{t 'show'}}: {{t (concat 'stocktakes.filters.' activeFilter.name)}} ({{ activeFilter.count }})
                  <i>{{fa-icon 'chevron-down' size='xs'}}</i>
                </div>
            {{/dropDown.dropDownHeader}}

            {{#dropDown.dropDownBody}}
              <div class="options_menu_list option_margin">
                <div class="option_menu">
                  {{#each filterList as |filter|}}
                    <div {{action 'selectFilter' filter.name}}>
                      {{t (concat 'stocktakes.filters.' filter.name)}} ({{ filter.count }})
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/dropDown.dropDownBody}}
          {{/composable-drop-down}}
        </div>
      </div>
    {{/if}}

    {{!-- REVISION LIST --}}
    <div class="row revision-list {{if isScanning 'small'}}">
      {{#if (is-equal mode 'count')}}
        {{#if (is-equal filteredRevisions.length 0)}}
          <div class="tips">
            <div class="tip">{{t 'stocktakes.tips.start_counting'}}</div>
            <div class="tip">{{t 'stocktakes.tips.review_tab'}}</div>
          </div>
        {{/if}}
      {{/if}}

      {{#ember-collection
        items=filteredRevisions
        class="ember-collection--no-sidebars"
        cell-layout=(ember-collection-layouts/fixed-grid-layout 800 70) as |revision index|
      }}
        {{!-- REVISION BLOCK --}}
        {{#let-alias (pick-key (array-find revision.item.packagesLocations 'locationId' stocktake.location.id) 'quantity' 0) as |expectedQty|}}
          <div class="revision {{unless revision.editable 'locked'}} {{if revision.hasDirtyAttributes 'unsaved'}}">

            <div class="flex no-wrap gutter-small">
              {{!-- Image --}}
              <div class="package-image">
                {{#link-to 'items.detail' revision.item.id}}
                  <img src="{{ revision.item.thumbImageUrl }}" />
                {{/link-to}}
              </div>

              {{!-- Inventory number + Package type --}}
              <div class="inventory-number">
                {{fa-icon (storage-icon revision.item.storageTypeName)}}
                {{if revision.item.inventoryNumber revision.item.inventoryNumber "[N/A]"}}
              </div>
              <div class="code-type">{{display-package-code short=true item=revision.item.code}}</div>

              {{#if stocktake.isOpen}}
                <div class="expected-quantity">
                  <span class="large-only">{{t 'stocktakes.expected_qty' }}: {{expectedQty}}</span>
                  <span class="small-only">x{{expectedQty}}</span>
                </div>
              {{/if}}

              {{!-- DIFF PILL --}}
              <div class="flex end">
                <div class="offset-up pill" {{action 'selectRevision' revision.id}}>
                  {{#if (is-or revision.dirty revision.warning)}}
                    <i class="warning">{{fa-icon 'exclamation-circle'}}</i>
                  {{else if revision.isGain}}
                    <i class="bad">{{fa-icon 'plus-circle'}}</i>
                  {{else if revision.isLoss}}
                    <i class="bad">{{fa-icon 'minus-circle'}}</i>
                  {{else}}
                    <i class="good">{{fa-icon 'check-circle'}}</i>
                  {{/if}}
                </div>
              </div>

              {{!-- QUANTITY ROW --}}
              <div class="quantity-row flex no-wrap space-between">
                {{!-- Input --}}
                <div class="flex center quantity-input-container">
                  <span {{action 'decrementCount' revision}}>
                    {{fa-icon 'minus-circle' size="lg"}}
                  </span>
                  <span class="quantity-input">
                    <input type="number" value={{revision.quantity}} onchange={{action "updateQuantity" revision}} min="0" >
                  </span>
                  <span {{action 'incrementCount' revision}}>
                    {{fa-icon 'plus-circle' size="lg"}}
                  </span>
                </div>
              </div>
            </div>

            {{!-- WARNING ROW --}}
            {{#if (is-and revision.editable (is-or revision.dirty revision.warning))}}
              <div class="flex gutter-small details-block {{if (is-equal selectedRevisionId revision.id) 'show' 'hide' }}">
                {{!-- Message --}}
                <div {{action 'selectRevision' null}}>
                  <i>{{fa-icon 'times-circle' size="lg"}}</i>
                </div>

                <div>
                  {{#if revision.dirty}}
                    {{t 'stocktakes.requires_recount'}}
                    {{#unless revision.hasDirtyAttributes}}
                      <a {{action 'confirmCount' revision}}>
                        {{t 'stocktakes.confirm_count' count=revision.quantity}}
                      </a>
                    {{/unless}}
                  {{else if revision.warning}}
                    {{revision.warning}}
                  {{/if}}
                </div>
              </div>
            {{/if}}
          </div>
        {{/let-alias}}
      {{/ember-collection}}
    </div>
  </div>

</div>
