<div class="stocktake-page detail">

  {{!-- TITLE --}}
  <nav class="tab-bar">
    {{#back-link fallbackRoute="/" }}
      <div class="back-link">{{ t 'back' }}</div>
    {{/back-link}}

    <section class="middle tab-bar-section">
      <h1 class="title">
        {{ stocktake.name }}
      </h1>
    </section>
  </nav>

  <div class="content">
    <div class="row">
      <div class="status-bar state-{{stocktake.state}}">
        {{t (concat 'stocktakes.states.' stocktake.state)}} - 
        {{display-datetime stocktake.updatedAt format="DD MMM YY HH:mm"}}
      </div>
    </div>

    {{!-- TABS TO SWITCH BETWEEN MODES --}}
    <div class="row">
      <div class="row tabs-container">
        <div class="tab list small-6 columns {{unless (is-equal selectedTab tabs.count) 'dimmed'}}" {{action (mut selectedTab) tabs.count}}>
          <div>{{fa-icon 'table' size="lg"}}</div>
          <div>{{t 'stocktakes.detail_tabs.count'}}</div>
        </div>
        <div class="tab list small-6 columns {{unless (is-equal selectedTab tabs.review) 'dimmed'}}" {{action (mut selectedTab) tabs.review}}>
          <div>{{fa-icon 'tasks' size="lg"}}</div>
          <div>{{t 'stocktakes.detail_tabs.review'}}</div>
        </div>
      </div>
    </div>

    {{#if isScanning}}
      <div class="row scanner-overlay">
        <div class="scanner-preview {{if isScanning 'show'}}" id="{{scannerPreviewId}}"></div>
        <div class="scanner-error {{if scannerError 'active'}}">{{scannerError}}</div>
      </div>
    {{/if}}

    {{!--  SAVING/ERROR MESSAGE --}}
    <div class="row message-zone">
      {{#if saveError}}
        <div class="top-message error-message">
          <i>{{fa-icon 'exclamation-circle'}}</i>
          {{t 'stocktakes.save_error'}}
          <a {{action 'saveChanges'}}>{{t 'stocktakes.try_again'}}</a>
        </div>
      {{else}}
        <div class="top-message saving-message {{if saving 'show'}}">
          <i>{{fa-icon 'spinner' spin=true}}</i>
          {{t 'stocktakes.saving'}}
        </div>
      {{/if}}
    </div>

    {{!-- ACTION BUTTONS --}}
    {{#if stocktake.isOpen}}
      <div class="row buttons-container flex">
        {{#if (is-equal mode modes.count)}}
          {{#if canScan }}
            <button class="button ellipsis {{if isScanning 'light'}}" {{action 'toggleScanning'}}>
              {{fa-icon 'qrcode'}} 
              {{#if isScanning}}
                {{t 'stocktakes.stop_scanning'}}
              {{else}}
                {{t 'stocktakes.scanner_mode'}}
              {{/if}}
            </button>

            <button class="button {{if barcodeService.flashlightActive 'light'}}" {{action 'toggleFlashlight' target=barcodeService}}>
              {{fa-icon 'lightbulb' size='lg'}}
            </button>
          {{/if}}
          <button class="button ellipsis" {{action 'addItem'}}>
            {{fa-icon 'plus'}} {{t 'stocktakes.add_item'}}
          </button>
        {{/if}}

        {{#if (is-equal mode modes.review)}}
          <button class="button" disabled="{{if stocktake.cannotCommit true}}" {{action 'commit'}}>
            {{t 'stocktakes.commit_stocktake'}}
          </button>
          <button class="button light" {{action 'cancelStocktake'}}>
            {{t 'stocktakes.cancel_stocktake'}}
          </button>
        {{/if}}
      </div>

      {{#if (is-equal mode modes.review)}}
        <div class="row buttons-container flex">
          <div class="checkbox-container">
            <div>{{t 'stocktakes.only_show_variances'}}</div>
            <div class="checkbox" {{action (toggle this "onlyShowVariances")}}>
              {{#if onlyShowVariances}}
                <i>{{fa-icon 'check'}}</i>
              {{/if}}
            </div>
          </div>
          <div class="checkbox-container">
            <div>{{t 'stocktakes.only_show_warnings'}}</div>
            <div class="checkbox" {{action (toggle this "onlyShowWarnings")}}>
              {{#if onlyShowWarnings}}
                <i>{{fa-icon 'check'}}</i>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{!-- REVISION LIST --}}
    <div class="row revision-list {{if isScanning 'small'}}">
      {{#if (is-equal mode 'count')}}
        {{#if (is-equal filteredRevisions.length 0)}}
          <div class="tips">
            <div class="tip">{{t 'stocktakes.tips.start_counting'}}</div>
            <div class="tip">{{t 'stocktakes.tips.review_tab'}}</div>
          </div>
        {{/if}}
      {{/if}}

      {{#ember-collection
        items=filteredRevisions
        class="ember-collection--no-sidebars"
        cell-layout=(ember-collection-layouts/fixed-grid-layout 800 160) as |revision index|
      }}
        {{!-- REVISION BLOCK --}}
        {{#let-alias (pick-key (array-find revision.item.packagesLocations 'locationId' stocktake.location.id) 'quantity' 0) as |expectedQty|}}
          <div class="revision {{unless revision.editable 'locked'}} {{if revision.hasDirtyAttributes 'unsaved'}}">
            
            <div class="flex no-wrap">
              {{!-- Inventory number + Package type --}}
              <div class="inventory-number">
                {{fa-icon (storage-icon revision.item.storageTypeName)}}
                {{if revision.item.inventoryNumber revision.item.inventoryNumber "[N/A]"}}
              </div>
              <div class="code-type">{{display-package-code  item=revision.item.code}}</div>
            </div>

            <div class="flex no-wrap gutter-small">
              {{!-- LEFT-SIDE : Image --}}
              <div class="package-image">
                {{#link-to 'items.detail' revision.item.id}}
                  <img src="{{ revision.item.thumbImageUrl }}" />
                {{/link-to}}
              </div>

              {{!-- RIGHT-SIDE : Double-row layout --}}
              <div class="grow">

                {{!-- QUANTITY ROW --}}
                <div class="quantity-row flex no-wrap space-between">

                  {{!-- Expected quantity --}}
                  <div class="">
                    {{#if stocktake.isOpen}}
                      {{t 'stocktakes.expected_qty' }}: {{expectedQty}}
                    {{else if revision.isProcessed}}
                      {{fa-icon 'check-circle' size="lg"}}
                      {{t 'stocktakes.recorded_change' }}: 
                      {{signed-number revision.diff}}
                    {{/if}}
                  </div>

                  {{!-- Input --}}
                  <div class="flex center quantity-input-container">
                    <span {{action 'decrementCount' revision}}>
                      {{fa-icon 'minus-circle' size="lg"}}
                    </span>
                    <span class="quantity-input">
                      <input type="number" value={{revision.quantity}} onchange={{action "updateQuantity" revision}} min="0" >
                    </span>
                    <span {{action 'incrementCount' revision}}>
                      {{fa-icon 'plus-circle' size="lg"}}
                    </span>
                  </div>
                </div>

                {{!-- WARNING ROW --}}
                <div>
                  <div>
                    {{#if revision.editable}}
                      {{#if (is-or revision.dirty revision.warning)}}
                        {{!-- Message --}}
                        <div class="columns small-12 offset-up warning-box">
                          <i>{{fa-icon 'exclamation-circle'}}</i>
                          {{#if revision.dirty}}
                            {{t 'stocktakes.requires_recount'}}
                            {{#unless revision.hasDirtyAttributes}}
                              <a {{action 'confirmCount' revision}}>
                                {{t 'stocktakes.confirm_count' count=revision.quantity}}
                              </a>
                            {{/unless}}
                          {{else if revision.warning}}
                            {{revision.warning}}
                          {{/if}}
                        </div>
                      {{else}}
                        {{!-- DIFF PILL --}}
                        <div class="flex end">
                          <div class="offset-up pill {{if revision.hasVariance 'bad' 'good'}}">
                            {{#if revision.isGain}}
                              <i>{{fa-icon 'exclamation-circle'}}</i>   {{t 'stocktakes.over'}} {{revision.diffAbs}}
                            {{else if revision.isLoss}}
                              <i>{{fa-icon 'exclamation-circle'}}</i> {{t 'stocktakes.under'}} {{revision.diffAbs}}
                            {{else}}
                              <i>{{fa-icon 'check-circle'}}</i> {{t 'okay'}}
                            {{/if}}
                          </div>
                        </div>
                      {{/if}}
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/let-alias}}
      {{/ember-collection}}
    </div>
  </div>

</div>
