<section class="new-user-section request-section">
  <div class="row request-block">
    <div class="small-12 columns add-request" >
      <div class="small-7 columns" {{action "assingPackageType"}}>
        <label> {{t 'order.goods_details.type_label'}} </label>
        <div class="request-type">
          {{input type="text" value=packageTypeName name="packageTypeDescription" pattern=".*\S.*" classNames="select-goods" required="true" tabindex="-1"}}
        </div>
      </div>
      <div class="small-3 columns">
        <label> {{t 'order.goods_details.quantity_label'}} </label>
        {{numeric-input type="number" min="1" name="qty" value=request.quantity maxlength="8" required='true' pattern="\d{1,8}" classNames="add-quantity"}}
      </div>
      <div class='small-2 columns icon-center remove-request remove-request-click'>
        <span class="cancel-icon" {{action "removeRequest" request.id num on="click"}}>
          {{fa-icon 'times-circle' size="lg"}}
        </span>
      </div>
    </div>
  </div>

  {{#if hasError}}
    <div class="row">
      <div class="small-12 columns request_empty_error">
        <div class='error'>{{fa-icon "exclamation-triangle"}}
          <span class="error-reason-margin">{{t "add_request.error"}}</span>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class="small-12 columns">
      <div class="small-10 columns req-description" style="margin-top: 0rem;">
        <label> {{t 'order.goods_details.description_details_label'}} </label>
        {{input type="text" name="otherDetails" value=request.description classNames="number_input center_align_placeholder add-description"}}
      </div>
    </div>
  </div>
</section>
