{{!-- {{#if displayWebcam}}
	{{#ember-webcam
	didSnap=(action 'didSnap')
	didError=(action 'didError')
	class="webcam-camera"
	as |camera|}}
	<button {{action camera.snap}} class="click-snapshot">
		Click
	</button>
	<button {{action "closeOverlay"}} class="click-snapshot">Cancel</button>
	{{/ember-webcam}}
{{/if}}	 --}}

{{#if displayWebcam}}
  <video autoplay id="video"></video>
  <button {{action "changeCamera"}}>Change Camera</button>
{{/if}}
<button {{action "snap"}} class="click-snapshot">Click</button>
<button {{action "closeOverlay"}} class="click-snapshot">Cancel</button>

<canvas class="is-hidden" id="canvas"></canvas>


