<div class="receive-options {{if hidden 'hidden'}}">
  <div class="{{unless item.quantity 'disabled'}} {{unless ordersPackage.item.quantity 'disabled'}}">
    <i class="item-menu">{{fa-icon 'shopping-basket'}}</i><br />
    {{t "item.designate"}}
  </div>
</div>
