<li class="added-item-list">
  <div class="flex">
    <div class="thumb-container">
      <img src={{package.thumbImageUrl}} class="thumb" />
    </div>
    <div class="details">
      <div class="content">
        <span>
          {{fa-icon (if package.isPartOfSet 'tags' (storage-icon package.storageTypeName))}}
          {{package.inventoryNumber}}
        </span>
      </div>
      <div class="content">
        <span>{{pkg.addedQuantity}} x {{package.notes}}</span>
      </div>
      <div class="content">
        {{package.notes}}
      </div>
    </div>
    {{#unless disableRemove}}
      {{#goodcity/remove-item-from-container
        item=package
        container=entity
        addedQuantity=pkg.addedQuantity
        onUnpackCallback=onUnpack
      }}
        {{fa-icon 'times-circle' size="lg"}} <span>{{t 'box_pallet.remove'}}</span>
      {{/goodcity/remove-item-from-container}}
    {{/unless}}
  </div>
</li>
