{{#if item.isSet}}
  <span class="no-avatar" {{action "displayDispatchOverlay"}}>
    <i aria-hidden="true">{{fa-icon 'ship'}}</i>
  </span>

  {{#if item.setItem.hasSameSingleDesignation}}
    {{#message-box btn1Text=(t "dispatch.dispatch") btn1Callback=(action "dispatchItemSet") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}
      <p>{{t 'dispatch.dispatch_set_to_order' code=order.code}}</p>

      {{#each item.setItem.items as |item|}}
        {{partial 'items/set_item_block'}}
      {{/each}}

      <div class="warnings">
        {{#if item.setItem.multiQuantitySet}}
          <div class="warning_text">
            <i>{{fa-icon 'exclamation-triangle'}}</i>
            {{t 'dispatch.dispatch_entire_quantity_warning'}}
          </div>
        {{/if}}
      </div>

    {{/message-box}}

  {{!-- {{else}}

    {{#message-box btn1Text="Continue" btn1Callback=(action "assignDesignation") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

      <p class="red-warning">
        <div class="left-icon"><i>{{fa-icon 'exclamation-triangle'}}</i></div>
        <div class="right-message">
          Which order do you wish to designate all parts of this set to before you dispatch?
        </div>
      </p>

      <div class="radio_selection">
        {{#each item.setItem.designations as |order|}}
          <div class="custom_radio_button">
            {{radio-button name="order" selection=selectedOrder value=order.id id=order.id}}
            <label for={{order.id}}>
              <div class="row">
                <div class="small-2 large-1 columns">
                  <span></span>
                </div>
                <div class="small-10 large-11 columns">
                  {{order.code}}
                </div>
              </div>
            </label>
          </div>
        {{/each}}

      </div>

    {{/message-box}} --}}

  {{/if}}
{{else}}
  {{dispatch-form item=item order=order package=package setAction=true}}
{{/if}}

{{designate-form order=order item=item toggleOverlay=toggleOverlay isSet=true showDispatchOverlay=true}}
