<div class="dropdown-wrapper">
  {{#if addAble}}
  {{#if displayPage}}
  {{searchable-select
      content=(mut (get resourceType content))
      sortBy="name"
      optionLabelKey="tag"
      selected=(mut (get selectedDataDisplay content))
      addLabel="Add New Item"
      prompt="Select an option"
      on-change=(action "setSelected" content)
      on-add=(action "addNew" content)}}
  {{else}}
  {{searchable-select
      content=(mut (get resourceType content))
      sortBy="name"
      optionLabelKey="tag"
      selected=selected
      addLabel="Add New Item"
      prompt="Select an option"
      on-change=(action "setSelected" content)
      on-add=(action "addNew" content)}}
  {{/if}}
  {{else}}
  {{#if displayPage}}
  {{searchable-select
    content=(mut (get resourceType content))
    sortBy="name"
    optionLabelKey="tag"
    selected=(mut (get selectedDataDisplay content))
    prompt="Select an option"
    on-change=(action "setSelected" content)}}
  {{else}}
  {{searchable-select
      content=(mut (get resourceType content))
      sortBy="name"
      optionLabelKey="tag"
      selected=selected
      prompt="Select an option"
      on-change=(action "setSelected" content)}}
  {{/if}}
  {{/if}}
  <div class="dropdown-icon"> {{fa-icon 'chevron-down'}}</div>
</div>
