<div class="{{if (is-or item.designation.isCancelled item.designation.isClosed) "disable-pointer-events" ''}} options-link-open {{item.id}} {{if hidden '' 'hidden'}}" {{action "toggle" false}}>
  <i>{{fa-icon 'angle-left'}}</i>
</div>

<div class="receive-item-options {{item.id}} {{if hidden 'hidden'}} {{if item.isSet 'set-options'}}">
  <div>
    {{#link-to 'items.detail.location' item.id tagName='div' href=false}}
      <i class="item-menu">{{fa-icon 'map-marker-alt' size="2x"}}</i><br />
      {{t "item.move"}}
    {{/link-to}}
  </div>

  <div>
    {{#link-to 'items.detail.publishing' item.id tagName='div' href=false}}
      <i class="item-menu">{{fa-icon 'shopping-basket' size="2x"}}</i><br />
      {{t "item.designate"}}
    {{/link-to}}
  </div>

  <div>
    {{#link-to 'items.detail.publishing' item.id tagName='div' href=false}}
      <i class="item-menu">{{fa-icon 'shopping-basket' size="2x"}}</i><br />
      {{t "item.order_fulfilment"}}
    {{/link-to}}
  </div>

  {{#print-label item=item closeList=(action 'toggle' true)}}
    <i class="item-menu">{{fa-icon 'print' size="2x"}}</i><br />
     {{t "label"}}
  {{/print-label}}

  {{#if item.isSet}}
    {{remove-item-from-set item=item closeList=(action 'toggle' true)}}
  {{/if}}

  <div class="options-link-close" {{action "toggle" true}}>
    <i class="item-menu">{{fa-icon 'angle-right'}}</i><br />
  </div>
</div>
