<div class="{{if (is-or item.designation.isCancelled item.designation.isClosed) "disable-pointer-events" ''}} options-link-open {{item.id}} {{if hidden '' 'hidden'}}" {{action "toggle" false}}>
  <i>{{fa-icon 'angle-left'}}</i>
</div>

<div class="receive-item-options {{item.id}} {{if hidden 'hidden'}} {{if item.isSet 'set-options'}}">
  <div class="{{unless item.isSingletonItem 'disabled'}} {{if item.hasAllPackagesDispatched 'disabled'}}">
    {{#if item.isSingletonItem}}
      {{#link-to 'items.search_location' item.id (query-params isPartialMove=true pkgsLocationId=item.packagesLocations.firstObject.id skipScreenForSingletonItem=true) tagName='div' href=false}}
        <i class="item-menu">{{fa-icon 'map-marker-alt' size="2x"}}</i><br />
        {{t "item.move"}}
      {{/link-to}}
    {{else}}
      {{#link-to 'items.partial_move' item.id tagName='div' href=false}}
        <i class="item-menu">{{fa-icon 'map-marker-alt' size="2x"}}</i><br />
        {{t "item.move"}}
      {{/link-to}}
    {{/if}}
  </div>

  <div class="{{unless item.isSingletonItem 'disabled'}}">
    {{#if (is-or item.designationId item.hasOneDispatchedPackage)}}
      {{#link-to 'items.search_order' item.id tagName='div' href=false}}
        <i class="item-menu">{{fa-icon 'shopping-basket' size="2x"}}</i><br />
        {{t "item.designate"}}
      {{/link-to}}
    {{else if item.isSingletonItem}}
      {{#link-to 'items.search_order' item.id (query-params isSet=item.isSet partial_qty=1) tagName='div' href=false}}
        <i class="item-menu">{{fa-icon 'shopping-basket' size="2x"}}</i><br />
        {{t "item.designate"}}
      {{/link-to}}
    {{else}}
      {{#link-to 'items.partial_designate' item.id tagName='div' href=false}}
        <i class="item-menu" {{action 'partialDesignateForSet'}}>{{fa-icon 'shopping-basket' size="2x"}}</i><br />
        {{t "item.designate"}}
      {{/link-to}}
    {{/if}}
  </div>

  <div class="{{unless item.isSingletonItem 'disabled'}}">
    {{#unless item.dispatchedOrdersPackages.length}}
      {{#if (is-and item.isSingletonItem item.designation.isGoodCityOrder)}}
        <div>
          <a href="#" {{action 'dispatchOrdersPackagePopUp' item item.firstDesignatedOrdersPackage.id}} >
            <i class="item-menu">{{fa-icon 'ship' size="2x"}}</i><br />
            {{t "item.dispatch"}}
          </a>
        </div>
      {{else}}
        {{#link-to 'items.partial_dispatch' item.id (query-params orderPackageId=item.firstDesignatedOrdersPackage.id) tagName='div' href=false}}
          <i class="item-menu">{{fa-icon 'ship' size="2x"}}</i><br />
          {{t "item.dispatch"}}
        {{/link-to}}
      {{/if}}
    {{else}}
      {{undispatch-item item=item package=item.dispatchedOrdersPackages.firstObject}}
    {{/unless}}
  </div>

  {{#print-label item=item closeList=(action 'toggle' true)}}
    <i class="item-menu">{{fa-icon 'print' size="2x"}}</i><br />
     {{t "label"}}
  {{/print-label}}

  {{#if item.isSet}}
    {{remove-item-from-set item=item closeList=(action 'toggle' true)}}
  {{/if}}

  <div class="options-link-close" {{action "toggle" true}}>
    <i class="item-menu">{{fa-icon 'angle-right'}}</i><br />
  </div>
</div>
