<div class="filter-buttons">
  <div class="small-6 columns">
    <div
      id="item-state-filter" 
      class="button expand filter-button-css {{if hasStateFilters 'filter-button-border'}}"
    >
      <!-- Close btn -->
      {{#if hasStateFilters}}
        <div class="remove-filters-icon" {{action "clearStateFilters"}}>
          {{fa-icon 'times' size="lg"}}
        </div>
      {{/if}}

      <!-- Open btn -->
      <div class="button-text" {{action "redirectTofilters" "applyStateFilter"}} >
        {{#if (is-equal itemStateFilters.length 0) }}
          {{t 'item_filters.button_state'}}
        {{else if (is-equal itemStateFilters.length 1) }}  
          {{t (concat 'item_filters.' itemStateFilters.firstObject) }}
        {{else}} 
          {{t 'item_filters.button_state'}}: {{itemStateFilters.length}}
        {{/if}} 
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div
      id="item-location-filter" 
      class="button expand filter-button-css {{if hasLocationFilters 'filter-button-border'}}"
    >
      <!-- Close btn -->
      {{#if hasLocationFilters}}
        <div class="remove-filters-icon" {{action "clearLocationFilters"}}>
          {{fa-icon 'times' size="lg"}}
        </div>
      {{/if}}

      <!-- Open btn -->
      <div class="button-text" {{action "redirectTofilters" "applyLocationFilter"}} >
        {{#if hasLocationFilters }}
          {{ itemLocationFilters }}
        {{else}}
          {{t 'item_filters.button_location'}}
        {{/if}} 
      </div>
    </div>
  </div>
</div>
