{{#if isEnglish}}
  <a href="" {{action "setLanguage" 'zh-tw'}} class="selected menu-list-anchor">
    {{fa-icon 'language' size="lg"}}
  </a>
{{else}}
  <a href="" {{action "setLanguage" 'en'}} class="selected menu-list-anchor">
    {{fa-icon 'language' size="lg"}}
  </a>
{{/if}}
