{{#if offer.company}}
  {{fa-icon 'building' class='offer-icon'}}
  {{offer.company.name}}
{{else}}
  {{fa-icon 'user' class='offer-icon'}}
  {{offer.id}}
{{/if}}
{{#unless (is-equal itemOfferId offer.id)}}
  <div class="delete-offer"{{action "removeOffer" offer}}>{{fa-icon 'times'}}</div>
{{/unless}}
