<div class="row detail-section">
  <div class="columns small-12">
    <div class="row req-first-row">
      <div class="columns small-4 request-quantity">Quantity </div>
      <div class="columns small-6 request-value">
        {{numeric-input name="qty" value=request.quantity maxlength="8" required='true' pattern="\d{1,8}" classNames="add-quantity"}}
      </div>
      <div class='small-2 columns icon-center'>
        <i class='icon' {{action "deleteRequest" request.id on="click"}}>{{fa-icon 'times-circle' size="2x"}}</i>
      </div>
    </div>
    <div class="row req-second-row">
      <div class="columns small-4 request-type">Type </div>
      <div class="columns small-8 request-value">
        <div {{action 'assingPackageType' request.id}}>
          {{display-package-code  item=request.code}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row detail-section">
  <div class="columns small-12">
    <div class="row req-third-row">
      <div class="columns small-4 request-desc">Description </div>
      <div class="columns small-8 value request-description">
        {{request-description-textarea data-autoresize=true name="description" value=request.description pattern=".*\S.*" class="description-textarea" request=request}}
      </div>
    </div>
  </div>
</div>
<div class="after-req-line row">
  <hr/>
</div>
