<section class="package-summary-block">
  <div class="row">
    <div class="columns small-12">
      <div class="bottom-header">
        <div class="tab-container">
          {{#link-to 'items.detail' model.id tagName='div' class="tab small" disabled=disableLink}}
            <div class="icon-holder">{{fa-icon (if model.isPartOfSet 'tags' (storage-icon model.storageTypeName))}}
            </div>
            <div class="text-holder">{{model.inventoryNumber}}</div>
          {{/link-to}}
          {{#link-to 'items.detail.location' model.id tagName='div' class="tab large" disabled=disableLink}}
            <div class="quantity-location-wrapper">
              {{#if model.validUndispatchedLocations}}
                {{#if model.hasMultiLocations}}
                  <div>
                    <div class="icon-holder">{{fa-icon 'map-marker-alt' }}</div>
                    <div class="text-holder">
                      {{t "item_status_bar.multiple"}}
                    </div>
                  </div>
                {{else}}
                  {{#if model.firstAllLocationName}}
                    <div>
                      <div class="icon-holder">{{fa-icon 'map-marker-alt' }}</div>
                      <div class="text-holder">
                        {{model.firstAllLocationName}}
                      </div>
                    </div>
                  {{/if}}
                {{/if}}
                {{#if model.onHandBoxedQuantity}}
                  <div>
                    <div class="icon-holder">{{fa-icon 'box-open' }}</div>
                    <div class="text-holder">
                      {{model.onHandBoxedQuantity}}
                    </div>
                  </div>
                {{/if}}
                {{#if model.onHandPalletizedQuantity}}
                  <div>
                    <div class="icon-holder">{{fa-icon 'pallet' }}</div>
                    <div class="text-holder">
                      {{model.onHandPalletizedQuantity}}
                    </div>
                  </div>
                {{/if}}
              {{else}}
                {{#if (is-or model.onHandPalletizedQuantity model.onHandBoxedQuantity)}}
                  {{#if model.onHandBoxedQuantity}}
                    <div>
                      <div class="icon-holder">{{fa-icon 'box-open' }}</div>
                      <div class="text-holder">
                        {{model.onHandBoxedQuantity}}
                      </div>
                    </div>
                  {{/if}}
                  {{#if model.onHandPalletizedQuantity}}
                    <div>
                      <div class="icon-holder">{{fa-icon 'pallet' }}</div>
                      <div class="text-holder">
                        {{model.onHandPalletizedQuantity}}
                      </div>
                    </div>
                  {{/if}}
                {{else}}
                  <div>
                    <div class="icon-holder">{{fa-icon 'map-marker-alt' }}</div>
                    <div class="text-holder">
                      N/A
                    </div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          {{/link-to}}
          {{#link-to 'items.detail.publishing' model.id tagName='span' class="tab end large" disabled=disableLink}}
            <div class="sub-tabs">
              <div class="icon-holder">{{fa-icon 'paper-plane' }}</div>
              <div class="text-holder">{{model.dispatchedQuantity}}</div>
            </div>
            <div class="sub-tabs">
              <div class="icon-holder">{{fa-icon 'shopping-basket' }}</div>
              <div class="text-holder">{{model.designatedQuantity }}</div>
            </div>
            <div class="sub-tabs">
              <div class="icon-holder">{{fa-icon (if model.allowWebPublish 'eye' 'eye-slash')}}</div>
              <div class="text-holder"> {{ model.availableQuantity }} </div>
            </div>
          {{/link-to}}
        </div>
        {{#if showBoxPalletDetails}}
          <div class="box-pallet-details">
            <div class="box-pallet-notes-container">
              {{model.notes}}
            </div>
            <div class="box-pallet-quantity-container">
              <div class="qty-details-wrapper">
                <div>
                  {{t 'item_details.quantity_inside'}}
                </div>
                <div>{{addedQuantityCount}}</div>
              </div>
              <div class='remove'>
                {{#goodcity/remove-item-from-container
                  item=item
                  container=model
                  addedQuantity=addedQuantityCount
                  onUnpackCallback=onUnpack
                }}
                  {{fa-icon 'times-circle' size="lg"}} <span>{{t 'box_pallet.remove'}}</span>
                {{/goodcity/remove-item-from-container}}
              </div>
            </div>
          </div>
        {{else}}
          <div class="item-summary">
            <div class="content item-img">
              {{#if favouriteImage}}
                <div class="image-zoom-container {{if disableLink 'no-events'}}" id={{compositeParentId}}>
                  {{image-zoom item=model}}
                </div>
              {{else}}
                <div class="default-icon">
                  {{#link-to 'items.detail' model.id disabled=disableLink}}
                    {{fa-icon (if model.isPartOfSet 'tags' (storage-icon model.storageTypeName))}}
                  {{/link-to}}
                </div>
              {{/if}}
            </div>
            <div class="content item-description">
              {{#unless hasBlock}}
                {{#link-to 'items.detail' model.id disabled=disableLink}}
                  <div>
                    {{display-package-code item=model.code}}
                  </div>
                  <div class="description">
                    {{model.notes}}
                  </div>
                {{/link-to}}
              {{else}}
                {{#link-to 'items.detail' model.id disabled=disableLink}}
                  {{yield}}
                {{/link-to}}
              {{/unless}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>
