<div class="" onclick={{if item.isSingletonItem (action 'displayPublishOverlay')}} style={{if item.isSingletonItem "cursor: pointer;"}}>
  <u>
  {{#if published}}
    {{t 'unpublish'}}
  {{else}}
    {{t 'publish'}}
  {{/if}}
  <i style="text-decoration: underline;" aria-hidden="true">{{fa-icon (if published 'eye' 'eye-slash')}}</i></u>
</div>

{{#message-box btn1Text=(if published "Unpublish" "Publish") btn1Callback=(action "setPublishStatus") btn2Text=(t "cancel") isVisible=displayUserPrompt classNames="popupOverlay designate-form publish-form"}}

  <p class="publish_message">
    {{#if published}}
      {{t 'unpublish_warning'}}
    {{else}}
      {{t 'publish_warning'}}
    {{/if}}
  </p>

{{/message-box}}
