<div class="{{if item.hasAllPackagesDispatched 'disabled'}}" {{action 'displayRemoveOverlay'}}>
  <i>{{fa-icon 'unlink' size='2x'}}</i>
  {{t "item.separate"}}
</div>

{{#message-box btn1Text="Separate" btn1Callback=(action "removeItemFromSet") btn2Text=(t "cancel") btn2Callback=(action "closeItemOptions") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

  <p>{{t "remove_item.are_you_sure"}}</p>

{{/message-box}}
