<div class="cmp side-drawer {{if hidden 'hidden'}}">
  <div class="arrow-icon-holder" {{action (toggle this "isOpen")}} >
    {{#if isOpen}}
      {{fa-icon 'angle-right'}}
    {{else}}
      {{fa-icon 'angle-left'}}
    {{/if}}
  </div>
  <div class="content-wrapper">
    <div class="content {{if isOpen 'open' 'closed'}}">
      {{ yield }}
    </div>
  </div>
</div>