<div {{action 'undispatchItem'}}>
  {{#if isUndispatchFromPartialUndesignate}}
    <i aria-hidden="true">{{fa-icon 'reply'}}</i><br />
    <br>
    <span class="undispatch-text">{{t "item.partial_undispatch"}}</span>
  {{else}}
    <i class="item-menu">{{fa-icon 'exclamation-triangle'}}</i><br />
    {{t "item.undispatch"}}
  {{/if}}
</div>

