<div class="add-item small-9 columns" align="center">
  {{#popup-overlay open=open}}
  <section class="main-section package-summary-block">
    <div class="row">
      <div class="small-12 columns heading">
        <span>{{t 'box_pallet.move_to'}} {{entity.storageTypeName}} {{entity.inventoryNumber}}.</span>
      </div>
    </div>

    <div class="row">
       {{package-summary-block model=pkg disableLink=true}}
    </div>
    <div class="location-wrap">
      <div class="row">
        <div class="main-header">
          <span class="available">{{pkg.onHandQuantity}} {{t 'box_pallet.available'}}</span>
          <p>{{t 'box_pallet.indicate_amount'}}</p>
        </div>
      </div>

      <div class="row items-table-heading">
        <div class="inner-wrapper">
          <div class="small-6 columns">
            {{t 'box_pallet.location'}}
          </div>
          <div class="small-3 columns">
            {{t 'box_pallet.quantity'}}
          </div>
          <div class="small-3 columns">
            {{t 'box_pallet.number_to_move'}}
          </div>
        </div>
      </div>

      {{#each locationQuantities as |locationQty|}}
      <div class="row items-table-content">
        <div class="small-6 columns">
          {{locationQty.name}}
        </div>
        <div class="small-3 columns">
          {{locationQty.packageLocation.quantity}}
        </div>
        <div class="small-3 columns">
          {{numeric-input value=locationQty.selectedQuantity maxlength="8" pattern="\d{1,8}" disabled=false}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="buttons row">
      <div class="small-4 columns button" {{action 'cancelMove'}}>{{t 'box_pallet.not_now'}}</div>
      <div class="small-4 columns button" {{action 'moveItemToBox' pkg updateAssociatedPackages }}>{{t 'box_pallet.move'}} ({{totalNumberTomove}})</div>
    </div>
  </section>
  {{/popup-overlay}}
</div>
