<div class="add-item small-9 columns" align="center">
  {{#popup-overlay open=open}}
    <section class="main-section move-item-to-box">
      <div class="row search">
        <div class="small-12 columns">
          <span>Move item to {{entity.storageTypeName}} {{entity.inventoryNumber}}.</span>
        </div>
        <div class="label">
          <span>3 Available</span>
          <p>Indicate how many are you taking from each of the locations below.</p>
        </div>
        <hr/>
        <div class="row">
          <div class="small-4 columns">
            Location
          </div>
          <div class="small-4 columns">
            Quantity
          </div>
          <div class="small-4 columns">
            Number to move
          </div>
        </div>
        <hr />

        {{#each pkg.packagesLocations as |packageLocation|}}
          <div class="row">
            <div class="small-4 columns">
              {{packageLocation.location.name}}
            </div>
            <div class="small-4 columns">
              {{packageLocation.quantity}}
            </div>
            <div class="small-4 columns">
              {{input value=packageLocation.defaultQuantity}}
            </div>
          </div>
        {{/each}}

        <div class="buttons row">
          <div class="small-3 columns button" {{action 'cancelMove'}}>Not Now</div>
          <div class="small-3 columns button" {{action 'moveItemToBox' pkg}}>Move</div>
        </div>
      </div>
    </section>
  {{/popup-overlay}}
</div>
