<div class="cmp orders search-overlay">
  {{#popup-overlay open=open}}
    <div class="main-container">
      <div class="row search-field">
        <div class="icon-holder small-2 columns">
          <i {{action 'closeOverlay'}} class="back_icon" aria-hidden="true">{{fa-icon 'times' size='lg'}}</i>
        </div>
        <div class="input-holder small-10 columns">
          {{focus-textfield
            name="searchText"
            id=uuid
            placeholder=(t "search_min")
            value=searchText }}
          {{#if hasSearchText}}
            <i class="pinned-right" {{action "clearSearch"}}>{{fa-icon 'times-circle' size='lg'}}</i>
          {{/if}}
        </div>
      </div>
      <section class="main-section orders_search_result search_result">
        {{#if headerText}}
          <div class="row header-text">
            <h2>{{ headerText }}</h2>
          </div>
        {{/if}}
        <div class="row search">
          <div class="small-12 columns">
            <ul class="list list-activity list-offer-items codes_results">
              {{#if searchText}}
                {{#each filteredResults as |type|}}
                  <li {{action "selectCode" type}}>
                    <div class="row">
                      <div class="small-3 columns code">
                        {{{highlight-substr type.code searchText}}}
                      </div>
                      <div class="small-9 columns">
                        <div class="package_name">{{{highlight-substr type.name searchText}}}</div>
                        <div>{{type.otherTerms}}</div>
                      </div>
                    </div>
                  </li>
                {{/each}}
              {{else}}  
                {{#each recentPackageTypes as |type|}}
                  {{log type}}
                  <li {{action "selectCode" type}}>
                    <div class="row">
                      <div class="small-3 columns code">
                        {{{highlight-substr type.code searchText}}}
                      </div>
                      <div class="small-9 columns">
                        <div class="package_name">{{{highlight-substr type.name searchText}}}</div>
                        <div>{{type.otherTerms}}</div>
                      </div>
                    </div>
                  </li>
                {{/each}}
              {{/if}}
            </ul>
          </div>
        </div>
      </section>
    </div>
  {{/popup-overlay}}
</div>
