{{#popup-overlay open=readyToDesignate}}
<div class="dispatch-form package-actions-form">

  {{package-summary-block
      model=pkg
      isRedirectable=false
      classNames="package-summary-block-view"}}

  {{#form-control}}
  <div class="form-container">
    <div class="title">{{fa-icon "shopping-basket"}} Designate</div>
    <div class="infos">
      <div class="info-row">
        <div class="key">Item</div>
        <div class="value clickable" {{action 'triggerItemChange' target=designationService}}>
          {{fa-icon 'tag'}} {{pkg.inventoryNumber}}
        </div>
      </div>

      <div class="info-row">
        <div class="key">To Order</div>
        <div class="value clickable" {{action 'triggerOrderChange' pkg target=designationService}}>
          {{#if order}}
            {{fa-icon (type-filter-icon order.bookingType.identifier)}}
            {{order.code}}
          {{else}}
            Select Order
          {{/if}}
        </div>
      </div>

      <div class="info-row">
        <div class="key">Quantity</div>
        <div class="value">
          {{numeric-input
            name="designationQty"
            value=quantity
            maxlength="5"
            pattern="^[1-9][0-9]*$"
            min="1"
            max="{{maxQuantity}}"
            disabled=(unless editableQty true false)
            class="qty-input"}}
        </div>

        <div class="sub-text {{if (is-not (is-in-range quantity 1)) 'warn-text'}}">
          Max: {{ maxQuantity }}
        </div>

        <div {{action "toggleItemAvailability"}}>Help</div>
      </div>

      <div class="info-row item-action-comment">
        <div class="key">Shipping #</div>
        <div class="value">
          {{numeric-input name="shipping" value=shipping maxlength="8" pattern="^[1-9][0-9]*$"}}
        </div>
      </div>

    </div>

    </div>

      <div class="button-container">
        <div class="button light" {{action cancelAction}}>Not Now</div>

        {{#if canComplete }}
          <div class="button" {{action "completeDesignation" target=designationService}}> Designate {{ quantity }}</div>
        {{else}}
          <div class="button" disabled> Designate {{ quantity }}</div>
        {{/if}}
      </div>
    {{/form-control}}

  </div>
{{/popup-overlay}}

{{#popup-overlay open=showItemAvailability backgroundClass="gray-overlay"}}
<div class="row">
  <div class="columns small-12 item-allocation-overlay">
    <div class="close-overlay" {{action "closeItemAvailabilityOverlay"}}>
      <span>Close</span>
      <i>{{fa-icon "times-circle"}}</i>
    </div>

    <div class="heading"><i> {{fa-icon "exclamation-triangle"}}</i> {{pkg.availableQuantity}} Available</div>

    <i>To make more of this item available...</i>

    <div class="info-box row">
      <div class="small-10 columns large-11">
        <b>2 are boxed & 3 are palletized</b>
        <div>
          Remove to designate separately.
          <br>(Or, designate whole box/pallet.)
        </div>
      </div>
      <div class="small-2 columns large-1" {{action "modifyBoxPalletAllocation"}}>
        <i>{{fa-icon "arrow-circle-right"}}</i>
      </div>
    </div>

    {{#if (is-or pkg.designatedQuantity pkg.dispatchedQuantity)}}
      <div class="info-box row">
        <div class="small-10 columns large-11">
          <b>{{pkg.designatedQuantity}} designated & {{pkg.dispatchedQuantity}} dispatched</b>
          <div>
            Modify or cancel other orders.
          </div>
        </div>
        <div class="small-2 columns large-1" {{action "modifyDesignation"}}>
          <i>{{fa-icon "arrow-circle-right"}}</i>
        </div>
      </div>
    {{/if}}

    <div class="info-box row">
      <div class="small-10 columns large-11">
        <b>Is the item quantity wrong?</b>
        <div>
          Increase it using gain feature
        </div>
      </div>
      <div class="small-2 columns large-1 gain-item-action" {{action 'gainItem'}}>
        <i>{{fa-icon "folder-plus"}}</i>
        <span>Gain</span>
      </div>
    </div>

  </div>
</div>
{{/popup-overlay}}
