{{#popup-overlay open=readyToDesignate}}
  <div class="dispatch-form package-actions-form">

    {{package-summary-block
      model=designationTargetPackage
      isRedirectable=false
      classNames="package-summary-block-view"}}

    {{#form-control}}
      <div class="form-container">
        <div class="title">{{fa-icon "shopping-basket"}} Designate</div>
        <div class="infos">
          <div class="info-row">
            <div class="key">Item</div>
            <div class="value">{{fa-icon 'tag'}} {{designationTargetPackage.inventoryNumber}}</div>
          </div>

          <div class="info-row">
            <div class="key">To Order</div>
            <div class="value clickable" {{action "selectOrderAction"}}>
              {{#if designationTargetOrder}}
                {{fa-icon (type-filter-icon designationTargetOrder.bookingType.identifier)}}
                {{designationTargetOrder.code}}
              {{else}}
                Select Order
              {{/if}}
            </div>
          </div>

          <div class="info-row">
            <div class="key">Quantity</div>
            <div class="value">
              {{numeric-input name="designationQty" id="designationQty" value=designationQty maxlength="5" pattern="^[1-9][0-9]*$"}}
            </div>
            <div class="sub-text {{if (is-not (is-in-range designationQty 1 designatableQuantity)) 'warn-text'}}">Max: {{ designatableQuantity }}
            </div>
          </div>

          <div class="info-row item-action-comment">
            <div class="key">Shipping #</div>
            <div class="value">
              {{numeric-input name="shipping" id="shipping" value=shipping maxlength="8" pattern="^[1-9][0-9]*$"}}
            </div>
          </div>

        </div>
      </div>

      <div class="button-container">
        <div class="button light" {{action "cancelAction"}}>Not Now</div>

        {{#if isValidForm }}
          <div class="button" {{action "confirmAction"}}> Designate {{ designationQty }}</div>
        {{else}}
          <div class="button" disabled> Designate {{ designationQty }}</div>
        {{/if}}
      </div>
    {{/form-control}}

  </div>
{{/popup-overlay}}
