{{#popup-overlay open=open}}
  <div class="dispatch-form package-actions-form">
    <div class="order-preview">
      {{#if open}}
        {{goodcity/orders-package-block orderPkg=orderPkg packageView=false readOnly=true}}
      {{/if}}
    </div>

    <div class="form-container">
      <div class="title">{{fa-icon 'paper-plane'}} {{t 'item.dispatch'}}</div>
      <div class="infos">
        <div class="info-row">
          <div class="key">Item</div>
          <div class="value">{{fa-icon 'tag'}} {{orderPkg.item.inventoryNumber}}</div>
        </div>
        <div class="info-row">
          <div class="key">To Order</div>
          <div class="value">{{fa-icon 'desktop'}} {{orderPkg.designation.code}}</div>
        </div>
        <div class="info-row">
          <div class="key">From Location</div>
          <div class="value clickable" {{action selectLocationAction}}>{{fa-icon 'map-marker-alt'}} {{location.displayName}}</div>
        </div>
        <div class="info-row">
          <div class="key">Quantity</div>
          <div class="value">
            {{numeric-input
                name="dispatchQty"
                value=quantity
                maxlength="5"
                pattern="^[1-9][0-9]*$"
                min="1"
                max="{{maxQuantity}}"
                disabled=(unless editableQty true)
                class="qty-input"}}
          </div>
          <div class="sub-text {{if (is-not (is-in-range quantity 1 maxQuantity)) 'warn-text'}}">Max: {{maxQuantity}}</div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <div class="button light" {{action cancelDispatchAction}}>Cancel</div>
      {{#if (is-not (is-in-range quantity 1 maxQuantity))}}
        <div class="button" disabled>Dispatch ({{ quantity }})</div>
      {{else}}
        <div class="button" {{action completeDispatchAction}}>Dispatch ({{ quantity }})</div>
      {{/if}}
    </div>
  </div>
{{/popup-overlay}}
