<div class="cmp locations search-overlay">
  {{#popup-overlay open=open}}
  <div class="main-container">
    <div class="row search-field">
      <div class="icon-holder small-2 columns">
        <i {{action 'cancel'}} class="back_icon" aria-hidden="true">{{fa-icon 'times' size='lg'}}</i>
      </div>

      <div class="input-holder small-10 columns">
        {{focus-textfield
            name="searchText"
            id="location_search_overlay_input"
            placeholder=(t "search_min")
            value=searchText}}

        {{#if hasSearchText}}
          <i class="pinned-right" {{action "clearSearch"}}>{{fa-icon 'times-circle' size='lg'}}</i>
        {{/if}}
      </div>
    </div>

    <section class="main-section search_result">
      {{#if headerText}}
        <div class="row header-text">
          <h2>{{ headerText }}</h2>
        </div>
      {{/if}}
      <div class="row search">
        <div class="small-12 columns">
          <ul class="list list-activity">
            {{#if presetLocations}}
              {{#each presetLocations as |location|}}
                <div {{action 'selectLocation' location}} class="row underlined">
                  <div class="small-6 columns">
                    {{location.building}}
                  </div>
                  <div class="small-6 columns">
                    {{location.area}}
                  </div>
                </div>
              {{/each}}
            {{else if showRecentlyUsed}}
              {{#each recentlyUsedLocations as |location|}}
                <div {{action 'selectLocation' location}} class="row underlined">
                  <div class="small-6 columns">
                    {{location.building}}
                  </div>
                  <div class="small-6 columns">
                    {{location.area}}
                  </div>
                </div>
              {{/each}}
            {{else if displayResults}}
              {{#infinite-list height="85vh" loadMore=(action "loadMoreLocations") as |res| }}
                {{#each res as |location|}}
                  <div {{action 'selectLocation' location}} class="row underlined">
                    <div class="small-6 columns">
                      {{location.building}}
                    </div>
                    <div class="small-6 columns">
                      {{location.area}}
                    </div>
                  </div>
                {{/each}}
              {{/infinite-list}}
            {{/if}}
          </ul>
        </div>
      </div>
    </section>
  </div>
  {{/popup-overlay}}
</div>
