<div class="cmp orders search-overlay">
  {{#popup-overlay open=open}}
    <div class="main-container">
      <div class="row search-field">
        <div class="icon-holder small-1 medium-1 columns">
          <i {{action "closeOverlay"}} class="back_icon" aria-hidden="true">{{fa-icon 'times' size='lg'}}</i>
        </div>

        <div class="input-holder small-9 medium-9 columns">
          {{focus-textfield
            name="searchText"
            id=uuid
            placeholder=(t "search_min")
            value=searchText }}

          {{#if hasSearchText}}
            <i class="pinned-right" {{action "clearSearch"}}>{{fa-icon 'times-circle' size='lg'}}</i>
          {{/if}}
        </div>
        {{#if isMobileApp}}
          <div class="small-2 medium-2 columns scan-button scanner">
            {{scan-barcode-button returnScannedText=(action "setScannedSearchText")}}
          </div>
        {{/if}}
      </div>

      <section class="main-section orders_search_result search_result">
        <div class="row search">
          <div class="small-12 columns">
            <ul class="list list-activity list-offer-items">
              {{#if displayResults}}
                {{#infinite-list height="85vh" loadMore=(action "loadMoreOffers") as |res| }}
                  {{#each res as |offer|}}
                    <li {{action "selectOffer" offer}} class="offer-result">
                      <div class="offer-name">
                        {{offer.id}}
                        {{#if offer.createdBy}}
                          - {{t "full_name" firstName=offer.createdBy.firstName lastName=offer.createdBy.lastName}}
                        {{/if}}
                        {{#if offer.company}}
                          ({{offer.company.name}})
                        {{/if}}
                      </div>
                      <div class="time">
                        Received {{time-ago timeValue=offer.receivedAt smallPrefix=false}} ago
                        <div class="package-counts">{{offer.inventoriedPackageCount}} inventories, {{offer.unrecordedPackageCount}} Unrecorded</div>
                      </div>
                    </li>
                  {{/each}}
                {{/infinite-list}}
              {{/if}}
            </ul>
          </div>
        </div>
      </section>
    </div>
  {{/popup-overlay}}
</div>
