<div class="cmp orders search-overlay">
  {{#popup-overlay open=open}}
    <div class="main-container orders-search">
      <div class="row search-field search-box ui">
        <div class="small-3 medium-3 columns back-link">
          <a {{action "cancel"}}>
            <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
            <div class="back_text">
              {{t 'cancel'}}
            </div>
          </a>
        </div>

        <div class="input-holder small-9 columns">
          {{focus-textfield
            name="searchText"
            id=uuid
            placeholder=(t "search_min")
            value=searchText }}

          {{#if hasSearchText}}
            <i class="pinned-right" {{action "clearSearch"}}>{{fa-icon 'times-circle' size='lg'}}</i>
          {{/if}}
        </div>
      </div>

      <section class="main-section orders_search_result search_result">
        <div class="row search">
          <div class="small-12 columns">
            <ul class="list list-activity list-offer-items">
              {{#if showRecentlyUsed}}
                <div class="recent-orders">{{t "search_order.recent_orders"}}</div>
                {{#each recentlyUsedOrders as |order|}}
                  <div {{action 'selectOrder' order}}>
                      {{goodcity/order-block order=order smallOrderBlocks=true}}
                    </div>
                {{/each}}
              {{else if displayResults}}
                {{#infinite-list height="85vh" loadMore=(action "loadMoreOrders") as |res| }}
                  {{#each res as |order|}}
                    <div {{action 'selectOrder' order}}>
                      {{goodcity/order-block order=order smallOrderBlocks=true}}
                    </div>
                  {{/each}}
                {{/infinite-list}}
              {{/if}}
            </ul>
          </div>
        </div>
      </section>
    </div>
  {{/popup-overlay}}
</div>
