<hr>
<div class="row">

  {{#each displayFields as |fields|}}
  <div class="small-6 columns input-field-container">
    <div class="row">
      <div class="small-12 columns item-label">
        {{fields.label}}
      </div>
      <div class="small-12 columns left">
        {{#form-control}}
        {{#if (is-and fields.autoComplete (is-not-equal fields.name 'country')) }}
        {{dropdown-search content=fields.name packageDetails=fetchPackageDetails onConfirm=(action 'setFields')}}
        {{else if (is-equal fields.name 'country')}}
        {{searchable-select
          content=countryArray
          sortBy="name"
          optionLabelKey="tag"
          selected=selected
          addLabel="Add New Item"
          prompt="Select an option"
          on-search=(action "onSearch")}}
        {{else}}
        {{input name=fields.name type=fields.type value=(mut (get formElement fields.value)) }}
        {{/if}}
        {{/form-control}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
