<div class="row">
  {{#each displayFields as |fields|}}
  <div class="small-6 columns input-field-container">
    <div class="row">
      <div class="small-12 columns item-label">
        {{fields.label}}
      </div>
      <div class="small-12 columns left">
        {{#form-control}}

        {{#if fields.autoComplete}}
        {{searchable-select
            content=(mut (get resourceType fields.name))
            sortBy="name"
            optionLabelKey="tag"
            addLabel="Add New Item"
            prompt="Select tags"
            on-add=(action "addNew" fields.name)}}
        {{else}}
        {{input name=fields.name type=fields.type value=(mut (get formElement fields.value)) maxlength="8" required='true'}}
        <div class='input-error'>{{t "items.new.validation_errors.quantity"}}</div>
        {{/if}}
        {{/form-control}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
