<a {{action "toggleInventoryOptions"}} class="options-link">
  <i class="options">{{fa-icon 'ellipsis-v'}}</i>
</a>

<div class="options_menu_list {{if displayInventoryOptions '' 'hidden'}}">

  {{#unless autoGenerateInventory}}
    <div class="option_menu">
      <a {{action "autoGenerateInventoryNumber"}} >
        <i aria-hidden="true">{{fa-icon 'refresh'}}</i>
        Auto Id
      </a>
    </div>
  {{/unless}}

  {{#unless inputInventory}}
    <div class="option_menu">
      <a {{action "editInventoryNumber"}} >
        <i aria-hidden="true">{{fa-icon 'keyboard-o'}}</i>
        Input Id
      </a>
    </div>
  {{/unless}}

  {{#if isMobileApp}}
    <div class="option_menu">
      <a {{action "scanInventoryNumber"}}>
        <i aria-hidden="true">{{fa-icon 'barcode'}}</i>
        Scan Id
      </a>
    </div>
  {{/if}}
</div>
