<div class="row actions-list">
  <div class="columns small-1">{{fa-icon action.arrow }}</div>
  <div class="columns small-2">{{action.absoluteQuantity}}</div>
  <div class="columns small-3">
    {{action.locationSubscript}}
    {{#if action.sourceId}}
      <br>
      {{action.sourceSubscript}}
    {{/if}}
  </div>
  <div class="columns small-3 user-name">
    {{#if action.orderId}}
      {{action.orderCode}}
    {{/if}}
    {{action.location.name}}
    {{#if action.sourceId}}
      <br>
      {{action.sourceDisplayName}}
    {{/if}}
  </div>
  <div class="columns small-2 right">{{display-time action.createdAt "HH:mm"}}</div>
  <div class="columns small-12 description">
    {{action.description}}
  </div>
</div>
