<div class="row dispatch_details {{if item.hasAllPackagesDispatched 'dispatched'}} {{if item.hasAllPackagesDesignated 'designated'}} {{if (is-and (is-not item.quantity) item.designatedOrdersPackages.length) 'designated'}}">
  {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
    <div class="small-4 columns" style="cursor: pointer; text-align: left;">
      {{#if item.hasAllPackagesDesignated}}
        {{#if item.hasOneDesignatedPackage}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i>{{fa-icon 'shopping-basket'}}</i> {{item.designation.code}}
          {{/link-to}}
        {{else}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i>{{fa-icon 'shopping-basket'}}</i> {{t "item.multiple_designation"}}
          {{/link-to}}
        {{/if}}
      {{else if item.hasAllPackagesDispatched}}
        {{#if item.hasOneDispatchedPackage}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i>{{fa-icon 'ship'}}</i> {{item.hasOneDispatchedPackage.designation.code}}
          {{/link-to}}
        {{else}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i>{{fa-icon 'ship'}}</i> {{t "item.all_dispatched"}}
          {{/link-to}}
        {{/if}}
      {{else if (is-not item.quantity)}}
        {{#if item.hasOneDesignatedPackage}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i>{{fa-icon 'shopping-basket'}}</i> {{item.designation.code}}
          {{/link-to}}
        {{else if item.designatedOrdersPackages.length}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i>{{fa-icon 'shopping-basket'}}</i> {{t "item.multiple_designation"}}
          {{/link-to}}
        {{else if item.hasOneDispatchedPackage}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i>{{fa-icon 'ship'}}</i> {{item.hasOneDispatchedPackage.designation.code}}
          {{/link-to}}
        {{else if item.dispatchedOrdersPackages.length}}
          {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
            <i>{{fa-icon 'ship'}}</i> {{t "item.all_dispatched"}}
          {{/link-to}}
        {{/if}}
      {{else}}
        {{#link-to 'items.partial_undesignate' item.id tagName='span' href=false}}
          <div class="stock_status">
            <i aria-hidden="true">{{fa-icon (if item.allowWebPublish 'eye' 'eye-slash')}}</i> In Stock
          </div>
        {{/link-to}}
      {{/if}}
    </div>
  {{/link-to}}
  <div class="small-4 columns location-name">
    {{#unless item.hasAllPackagesDispatched}}
      <i> {{fa-icon 'map-marker-alt'}}</i>
      {{#if item.hasMultiLocations}}
        {{#link-to 'items.partial_move' item.id tagName='span' href=false}} Multiple {{/link-to}}
      {{else}}
        {{item.firstAllLocationName}}
      {{/if}}
    {{/unless}}
  </div>
  <div class="small-4 columns">
    <i>{{fa-icon (if item.isSet 'tags' 'tag')}}</i> {{item.inventoryNumber}}
  </div>
</div>
