{{#if (matches backLinkPath '^items\.detail')}}
  {{#link-to backLinkPath item.id classNames="back"}}
    <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
    <div class="back_text">
      <i>{{fa-icon 'tag'}}</i>
      {{item.inventoryNumber}}
    </div>
  {{/link-to}}
{{else if (is-equal backLinkPath 'orders.active_items')}}
  {{#link-to backLinkPath orderIdForOrderDetail class="back"}}
    <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
    <div class="back_text">
      <i>{{fa-icon 'tag'}}</i>
      {{item.inventoryNumber}}
    </div>
  {{/link-to}}
{{else}}
  {{#back-link}}
    <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
    <div class="back_text">
      <i>{{fa-icon 'tag'}}</i>
      {{item.inventoryNumber}}
    </div>
  {{/back-link}}
{{/if}}
