<div class="row fixed_search_header search-box ui items-search">
  <div class="small-2 columns ">
    {{#link-to 'items.index' classNames="back"}}
      <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
      <div class="back_text">
        Back
      </div>
    {{/link-to}}
  </div>

  <div class="small-10 columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder=(t "search")
      value=searchText }}

    {{#if hasSearchText}}
      <i {{action "clearSearch"}}>{{fa-icon 'times-circle'}}</i>
    {{/if}}
  </div>
</div>

<section class="main-section orders_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if isLoading}}
        <div class="loading_screen">
          {{partial 'loading'}}
        </div>
      {{else}}

        {{#if sortedLocations}}
          <ul class="list list-activity list-offer-items">
            <li {{action 'clearLocation'}}>
              <div class="row">
                <div class="small-6 columns building_name">
                  ALL LOCATIONS
                </div>
                <div class="small-6 columns">
                  <span>(Clear Location Filter)</span>
                </div>
              </div>
            </li>
            {{#each sortedLocations as |location|}}
              <li {{action 'setLocation' location}}>
                <div class="row">
                  <div class="small-6 columns building_name">
                    {{location.building}}
                  </div>
                  <div class="small-6 columns">
                    {{location.area}}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>

          {{#infinity-loader}}
          {{/infinity-loader}}

        {{else if hasNoResults}}
          <div class='no_result'>{{t "no_search_results"}}</div>
        {{else if recentlyUsedLocations}}

          <div class="recent_locations">Recently used locations</div>

          <ul class="list list-activity list-offer-items">
            {{#each recentlyUsedLocations as |location|}}
              <li {{action 'setLocation' location}}>
                <div class="row">
                  <div class="small-6 columns building_name">
                    {{location.building}}
                  </div>
                  <div class="small-6 columns">
                    {{location.area}}
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      {{/if}}
    </div>
  </div>

</section>
