<div class="row">
  <div class="small-6 columns">
    <button {{action "applyFilters"}} class="button expand filter-btn">{{t "order_filters.apply_filter_button"}}</button>
  </div>
  <div class="small-6 columns">
    <button {{action "clearFilters"}} class="button expand filter-btn">{{t "order_filters.clear_button"}}</button>
  </div>
</div>
<div class="state-filter-block">
  {{!-- Item State Block --}}
  <div class="row">
    <div class="type-filter-title small-12 medium-12 large-12 columns">
      {{t "item_filters.state_filter_title"}}
    </div>
  </div>
  {{#each stateFilters as |state|}}
    <div class="row">
      <div class='checkbox small-12 medium-12 large-12 columns'>
        {{item-filter-checkbox name=state}}
      </div>
    </div>
  {{/each}}
  <div class="row">
    <hr/>
  </div>

  {{!-- Item publish filters --}}
  <div class="row">
    <div class="publish-filter-title small-5 medium-4 large-4 columns">
      {{t "item_filters.publish_filter_title"}}
    </div>
    <div class="publish-filter-info small-7 medium-8 large-8 columns">
      {{t "item_filters.publish_filter_title_info"}}
    </div>
  </div>
  <div class="row item-filter-radiobutton">
    {{#each publishFilters as |publishState|}}
      <div class='checkbox small-4 medium-4 large-4 columns'>
        {{item-filter-radiobutton nameType="publish" name=publishState}}
      </div>
    {{/each}}
  </div>
  <div class="row">
    <hr/>
  </div>

  {{!-- Image filter --}}
  <div class="row">
    <div class="image-filter-title small-3 medium-3 large-3 columns">
      {{t "item_filters.image_filter_title"}}
    </div>
    <div class="image-filter-info small-9 medium-9 large-9 columns">
      {{t "item_filters.image_filter_title_info"}}
    </div>
  </div>
  <div class="row item-filter-radiobutton">
    {{#each imageFilters as |imageState|}}
      <div class='checkbox {{if (is-equal imageState "with_and_without_images") "small-3" "small-5"}} {{if (is-equal imageState "has_images") "with_images" ""}} {{if (is-equal imageState "no_images") "no_images" ""}} medium-4 large-4 columns'>
        {{item-filter-radiobutton nameType="image" name=imageState}}
      </div>
    {{/each}}
  </div>

</div>
