<section class="main-section item_details_screen">
  <div class="item-details-body">
    <div class="row profile_container">
      {{#back-link fallbackRoute="items"}}
        <div class="item-page click-action-zone">
          <div class="back_link no-avatar">
            <i aria-hidden="true">{{fa-icon 'angle-left'}}</i>
          </div>
        </div>
      {{/back-link}}
      <div id="itemImage">
        {{#if showImages}}
          {{image-zoom item=model showSetImages=true}}
        {{/if}}
        <div class="image-overlay {{if showSetList 'opaque' 'transparent' }}">
          {{#if model.isPartOfSet}}
            {{partial 'items/detail/set_header' }}
          {{/if}}
          <div style="visibility: {{if showSetList 'hidden' 'visible' }}">
            {{partial 'items/detail/tabs'}}
          </div>
        </div>
      </div>
      <div class="image-action-list">
        {{#unless (is-or model.hasAllPackagesDispatched model.hasAllPackagesDesignated)}}
          {{#if model.quantity}}
            {{#if (is-not model.isPartOfSet)}}
              {{#if model.isSingletonItem}}
                {{#link-to 'items.detail.publishing' model.id tagName='span' href=false}}
                  <span class="no-avatar">
                    <i aria-hidden="true">{{fa-icon 'shopping-basket'}}</i>
                  </span>
                {{/link-to}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/unless}}

        {{#unless model.isPartOfSet}}
          {{#if (is-and item.hasOneDesignatedPackage (is-not model.hasAllPackagesDispatched))}}
            <div class="{{unless item.hasOneDesignatedPackage 'disabled'}}">
              {{#if (is-and model.isSingletonItem model.designation.isGoodCityOrder)}}
                {{#link-to 'items.detail.publishing' model.id tagName='span' href=false}}
                  <span class="no-avatar">
                    <i class="item-menu">{{fa-icon 'ship'}}</i>
                  </span>
                {{/link-to}}
              {{/if}}
            </div>
          {{/if}}
        {{/unless}}


        {{#print-label item=item closeList=""}}
          <span class="no-avatar">
            <i aria-hidden="true">{{fa-icon 'print'}}</i>
          </span>
        {{/print-label}}
      </div>
    </div>

    <div class="row main-content {{if showSetList 'opaque' 'transparent' }}">
      {{#if showSetList}}
        {{partial 'items/detail/set_list' }}
      {{else}}
        {{!-- TAB CONTENT --}}
        {{partial (concat 'items/detail/tabs/' tabName) }}
      {{/if}}
    </div>

  </div>

  {{partial "items/sticky_footer"}}
</section>

