<section class="main-section row edit-images-page">

  <div id="main-image" class="{{if isExpanded 'is-expanded'}}">
    {{#unless noImage}}
      <div style={{previewImageBgCss}}>
      </div>

      <div id="main-image-controls">
        <a {{action "deleteImage"}} title={{t "edit_images.delete_tooltip"}}>
          <i class="trash">{{fa-icon 'trash'}}</i>
        </a>
        <a {{action "setFavourite"}} title={{t "edit_images.favourite_tooltip"}}>
          {{#if previewMatchesFavourite}}
            <i class = "favourite">{{fa-icon 'star'}}</i>
          {{else}}
            <i class = "favourite">{{fa-icon 'star' prefix="far"}}</i>
          {{/if}}
        </a>
        <a {{action "rotateImageRight"}} >
          <i class="redo">{{fa-icon 'redo'}}</i>
        </a>
        <a {{action "rotateImageLeft"}} >
          <i class="undo">{{fa-icon 'undo'}}</i>
        </a>
        <a {{action "expandImage"}} title={{t "edit_images.fullscreen_tooltip"}}>
          <i class = "expand">{{fa-icon (if isExpanded 'compress' 'expand')}}</i>
        </a>
      </div>

    {{else}}
      <div class="center-box" style={{instructionBoxCss}}>
        <span class="center-item">
          <p>{{t 'images.add_image'}}</p>
        </span>
      </div>
    {{/unless}}
  </div>

  <ul id="photo-list" class="{{if isExpanded 'hidden'}}">
    <li>
      {{#composable-drop-down as |dropDown|}}
        {{#dropDown.dropDownHeader}}
          <a id="add-photo" class="center-box {{unless isReady 'disabled'}}" style={{thumbImageCss}}>
            <span class="center-item">
              <i>{{fa-icon 'camera'}}</i>
              {{addPhotoLabel}}
            </span>
          </a>  
        {{/dropDown.dropDownHeader}}
        {{#dropDown.dropDownBody}}
          <div class="options_menu_list option_margin option-list-padding">
            <div class="option_menu" {{action "triggerUpload"}} class="{{unless isReady 'disabled'}}">
              Choose Image
            </div>
            <div class="option_menu" {{action "openImageOverlay"}}>
              Take Photo
            </div>
          </div>
        {{/dropDown.dropDownBody}}
      {{/composable-drop-down}}
      {{cloudinary-upload ready="uploadReady" progress="uploadProgress"
        always="uploadComplete" done="uploadSuccess" submit="uploadProgress"
        itemId=item.id}}
    </li>

    {{#each images as |image|}}
      <li>
        <a {{action "setPreview" image}} class="{{if image.selected 'selected'}}">
          <img src="{{image.thumbImageUrl}}" style={{thumbImageCss}} class="thumb" />
          <i class="{{if (js-x 'p0 == p1' image.id favouriteImage.id) '' 'hidden'}}">{{fa-icon 'star'}}</i>
        </a>
      </li>
    {{/each}}

  </ul>
</section>

<div class="btm {{if isExpanded 'hidden'}}">
  <div class="row">
    <div class="small-12 columns">
      <button {{action (back-action test="test")}} class="button expand">{{t "done"}}</button>
    </div>
  </div>
</div>

{{#let-alias packageService as |s|}}
  {{goodcity/click-image-overlay
    open=s.openImageOverlay
    getImageCallback = (action "saveImageURI")
  }}
{{/let-alias}}
