<div class="history">
  <div class="row">
    <div class="columns small-1 medium-1 large-1">
      {{#back-link fallbackRoute="items"}}
        <div class="item-page click-action-zone">
          <div class="back_link no-avatar">
            <i aria-hidden="true">{{fa-icon 'angle-left'}}</i>
          </div>
        </div>
      {{/back-link}}
    </div>
    <div class="columns small-11 medium-11 large-11 history-title">
      {{t "items.history"}}
    </div>
  </div>
  <div class="history-block">
    {{#if displayResults}}
      {{#infinite-list height="100vh" loadMore=(action "loadMoreActions") as |actionGroups| }}
        {{#each actionGroups as |group|}}
          <div class="action-block-parent">
            {{partial "items/action_version_header"}}
            {{#each group.actions as |action|}}
              {{#if action.objectChanges}}
                {{partial "items/edit_item_block"}}
              {{else}}
                {{partial "items/item_action_block"}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      {{/infinite-list}}
    {{/if}}
  </div>
  {{partial "items/sticky_footer"}}
</div>
