<div class="history">
  <div class="row">
    <div class="columns small-1 medium-1 large-1">
      {{#back-link fallbackRoute="items"}}
        <div class="item-page click-action-zone">
          <div class="back_link no-avatar">
            <i aria-hidden="true">{{fa-icon 'angle-left'}}</i>
          </div>
        </div>
      {{/back-link}}
    </div>
    <div class="columns small-11 medium-11 large-11 history-title">
      {{t "items.history"}}
    </div>
  </div>
  <div class="history-block">
    {{#if displayResults}}
      {{#infinite-list height="100vh" loadMore=(action "loadMoreActions") as |actionGroups| }}
        {{#each actionGroups as |group|}}
          <div class="action-block-parent">
            {{partial "items/item_action_block"}}
            {{#each group.actions as |action|}}
              {{#if action.objectChanges}}
                {{#each-in action.objectChanges as |key value|}}
                  {{#if (is-not-equal key "updated_at")}}
                    <div class="row actions-list">
                      <div class="columns small-3">
                        {{startcase-string key}}
                      </div>
                      <div class="columns small-7">
                        <div>
                          {{#if value.firstObject}}
                            <div style="text-decoration: line-through;">{{format-display-value key value.firstObject }}</div>
                          {{else}}
                            -
                          {{/if}}
                        </div>
                        <div>{{format-display-value key value.lastObject }}</div>
                      </div>
                      <div class="columns small-2">
                        {{display-time value.lastObject "HH:mm"}}
                      </div>
                    </div>
                  {{/if}}
                {{/each-in}}
              {{else}}
                {{partial "items/edit_item_block"}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      {{/infinite-list}}
    {{/if}}
  </div>
  {{partial "items/sticky_footer"}}
</div>
