<div class="history">
  <div class="row">
    <div class="columns small-1 medium-1 large-1 history-back-link">
      {{#link-to 'items.detail' model.id classNames="back"}}
        <i class="back_icon" aria-hidden="true" style="color: white;">{{fa-icon 'angle-left'}}</i>
      {{/link-to}}
    </div>
    <div class="columns small-11 medium-11 large-11 history-title">
      {{t "items.history"}}
    </div>
  </div>
  <hr/>
  <div class="history-block">
  {{#if model.isSet}}
    {{#if model.setItem.setItemOrdersPackages}}
      <div class="row history-header">
        <div class="columns small-4 medium-4 large-4">
          {{t "items.order_code"}}
        </div>
        <div class="columns small-4 medium-4 large-4 qty">
          {{t "items.quantity"}}
        </div>
        <div class="columns small-4 medium-4 large-4 inventory-number">
          {{t "items.number"}}
        </div>
      </div>
      {{#each model.setItem.designatedAndDispatchedOrdersPackages as |ordersPackage|}}
        <div class="row {{ordersPackage.state}}">
          {{#link-to 'orders.detail' ordersPackage.designation.id href=false}}
            <div class="columns small-4 medium-4 large-4">
              {{#if (is-equal ordersPackage.state "designated")}}
                <i>{{fa-icon 'shopping-basket'}}</i>
              {{else if (is-equal ordersPackage.state "dispatched")}}
                <i>{{fa-icon 'ship'}}</i>
              {{/if}}
              {{ordersPackage.designation.code}}
            </div>
            <div class="columns small-4 medium-4 large-4 qty">
              {{ordersPackage.quantity}}
            </div>
            <div class="columns small-4 medium-4 large-4 inventory-number">
              <i>{{fa-icon 'tags'}}</i>{{ordersPackage.item.inventoryNumber}}
            </div>
          {{/link-to}}
        </div>
      {{/each}}
    {{else}}
      <div class="row history-unavailable">
        {{t "items.no_history"}}
      </div>
    {{/if}}
  {{else if model.desinatedAndDisaptchedItemPackages}}
    <div class="row history-header">
      <div class="columns small-4 medium-4 large-4">
        {{t "items.order_code"}}
      </div>
      <div class="columns small-4 medium-4 large-4 qty">
        {{t "items.quantity"}}
      </div>
      <div class="columns small-4 medium-4 large-4 inventory-number">
        {{t "items.number"}}
      </div>
    </div>
    {{#each model.ordersPackagesWithStateDesignatedAndDispatched as |ordersPackage|}}
      <div class="row {{ordersPackage.state}}">
        {{#link-to 'orders.detail' ordersPackage.designation.id href=false}}
          <div class="columns small-4 medium-4 large-4">
            {{#if (is-equal ordersPackage.state "designated")}}
              <i>{{fa-icon 'shopping-basket'}}</i>
            {{else if (is-equal ordersPackage.state "dispatched")}}
              <i>{{fa-icon 'ship'}}</i>
            {{/if}}
            {{ordersPackage.designation.code}}
          </div>
          <div class="columns small-4 medium-4 large-4 qty">
            {{ordersPackage.quantity}}
          </div>
          <div class="columns small-4 medium-4 large-4 inventory-number">
            <i>{{fa-icon 'tag'}}</i>{{model.inventoryNumber}}
          </div>
        {{/link-to}}
      </div>
    {{/each}}
  {{else}}
    <div class="row history-unavailable">
      {{t "items.no_history"}}
    </div>
  {{/if}}
  </div>
  {{partial "items/sticky_footer"}}
</div>
