<div class="row fixed_search_header items-search search-box ui">
  <div class="{{if isMobileApp 'small-10 large-10' 'small-12'}} columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder=(t "search_min")
      value=searchText }}

    {{#if hasSearchText}}
      <i {{action "clearSearch"}}>{{fa-icon 'times-circle'}}</i>
    {{/if}}
  </div>

  {{#if isMobileApp}}
    <div class="small-2 columns scan-button">
      {{scan-barcode-button route="items"}}
    </div>
  {{/if}}
  {{item-filter-buttons}}
</div>

<section class="main-section items_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if displayResults}}

        {{#infinite-list height="75vh" loadMore=(action "loadMoreItems") as |items| }}
          <ul class="list list-activity list-offer-items">
            {{#each items as |item|}}
              {{partial 'orders/item_block'}}
              {{else}}
               <div class="add_item_text small-12 columns center-text">
                  <div class="small-6 small-offset-3 medium-offset-1 medium-10 large-8 large-offset-2 columns center-text add_item_inventory_button">
                   {{#link-to 'search_code' (query-params backToNewItem=false)}}
                       {{fa-icon 'plus-circle' size="lg"}}&nbsp;&nbsp;{{t "add_inventory_item"}}
                    {{/link-to}}
                 </div>
               </div>
            {{/each}}
          </ul>
        {{/infinite-list}}
      {{else}}
        <div class='no_result'>{{t "no_search_results"}}</div>
      {{/if}}
    </div>
  </div>
  {{partial "sticky_footer"}}
</section>
