<nav class="tab-bar new-item-nav">
  <section class="tab-bar-section">
    <h1 class="title">{{pageTitle}}</h1>
  </section>
</nav>
<section class="main-section new-item-section ui">
  {{#validatable-form onSubmit=(action 'saveItem') as |form|}}
    <div class="section">
      <div class="row">
        <div class="small-3 columns item-label">
          {{t "items.new.quantity"}}
        </div>
        <div class="small-2 columns left">
          {{#form-control}}
            {{numeric-input id='qty' name="qty" value=quantity maxlength="8" required='true' pattern="\d{1,8}" disabled=isBoxOrPallet}}
            <div class='input-error'>{{t "items.new.validation_errors.quantity"}}</div>
          {{/form-control}}
        </div>
        {{#if successfullyDuplicated}}
          <div class="fade-out">
            {{t "items.new.duplicate_successful_message" inventoryNo=previousInventoryNumber }}
          </div>
        {{/if}}
      </div>
      <div class="row">
        <div class="small-3 columns item-label">
          {{t "items.new.location"}}
        </div>
        <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns">
          <div class="{{if (is-or invalidLocation invalidScanResult) 'ember-view form__control form__control--error'}}"
            id="inventory_location" {{action 'pickLocation'}}>
            <i class="location-icon" aria-hidden="true">{{fa-icon 'map-marker-alt'}}</i>
            {{input value=locationName disabled=true required='true'}}
            <div class='input-error'>
              {{#if invalidScanResult}}
                {{t "items.new.validation_errors.invalid_location"}}
              {{else}}
                {{t "items.new.validation_errors.blank_location"}}
              {{/if}}
            </div>
          </div>
        </div>
        {{#if isMobileApp}}
          <div class="small-2 large-1 columns scan-icon">
            {{barcode-scanner route="items.new" paramName="scanLocationName"}}
          </div>
        {{/if}}
      </div>
      <br />
    </div>
    <div class="row">
      <div class="small-3 columns item-label">
        {{t "items.new.type"}}
      </div>
      <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns left">
        <div class="display-code">
          {{display-package-code item=code}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-offset-3 medium-offset-3">
        {{#if code.descriptionEn}}
          <span class="description_suggestion" {{action 'addDefaultDescription'}}>
            {{fa-icon 'lightbulb'}} &nbsp; {{code.descriptionEn}}
          </span>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns item-label">
        {{t "items.new.description"}} &nbsp;
      </div>
      <div class="small-6 medium-7 large-7 columns description-block">
          <i class="remove-text" aria-hidden="true" {{action "clearDescription"}}>{{fa-icon 'times-circle'}}</i>
          {{auto-resize-textarea onFocusIn=(action 'setDescriptionFocus' true) onFocusOut=(action 'setDescriptionFocus' false)  data-autoresize=true name="description" value=description required="required" pattern=".*\S.*" id="description"}}
          {{#if hasInvalidDescription}}
            <div class='input-error show-validation'>{{t 'items.new.validation_errors.description'}}</div>
          {{/if}}
      </div>
      <div class="small-3 medium-2 large-2">
        <a {{action "triggerUpload"}} class="{{unless isReady 'disabled'}}">
          <span class="image-box">
            {{#if newUploadedImage}}
              <img src={{newUploadedImage.thumbImageUrl}} class="thumb" />
            {{else}}
              <i aria-hidden="true">{{fa-icon 'camera'}}</i><br />
              {{t "items.new.add_images"}}
            {{/if}}
          </span>
        </a>
        {{cloudinary-upload ready="uploadReady" progress="uploadProgress"
              always="uploadComplete" done="uploadSuccess" submit="uploadStart"}}
      </div>
    </div>
    <div class="row quality-row">
      <div class="small-3 columns item-label">
        {{t "items.new.quality"}}
      </div>
      <div class="small-4 columns">
        <span class='input_text'>{{t "items.new.grade"}}</span>
        {{select-list
        content=grades
        on-change=(action "onGradeChange")
        selectedValue=selectedGrade
        value=selectedGrade
        selectArrow=true
        classNames='grade' }}
      </div>
      <div class="small-5 columns">
        <span class='input_text'>{{t "items.new.condition"}}</span>
        {{select-list
        content=conditions
        on-change=(action "onConditionChange")
        selectedValue=defaultCondition
        selectArrow=true
        value=defaultCondition
        classNames='condition'
        idNames='condition-select' }}
      </div>
    </div>
    <div class="row grade-value">
      <div class="small-3 columns">
        {{t "items.value"}}
      </div>
      <div class="columns small-3">
        {{numeric-input acceptFloat=true required='true' acceptZeroValue=true value=valueHkDollar name="value_hk" maxlength="6"
        pattern="\d+\.?\d*"}}
      </div>
      <div class="columns small-6 apply-default">
        {{#if canApplyDefaultValuation}}
          <a href="#" {{action 'setDefaultItemValuation'}} class="default-content">{{t 'items.apply_default'}}
            {{defaultValueHkDollar}}</a>
        {{/if}}
      </div>
    </div>
    {{#if isInvalidValuation}}
      <div class="row error-message">
        <div class="small-3 columns item-label"></div>
        <div id="max-val-err" class='small-9 columns input-error show-validation'>
          {{t 'items.new.validation_errors.blank_valuation'}}
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="small-3 columns item-label">
        {{t "items.new.donation"}}
      </div>
      <div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns">
        {{#form-control}}
          {{input type='text' value=caseNumber pattern="(CAS\-\d{5})|\d{5}"}}
          <div class='input-error'>{{t "items.new.validation_errors.donation"}}</div>
        {{/form-control}}
      </div>
      {{#if isMobileApp}}
        <div class="small-2 large-1 columns scan-icon">
          {{barcode-scanner route="items.new" paramName="caseNumber"}}
        </div>
      {{/if}}
    </div>
    <div class="row dimension-row">
      <div class="small-3 columns item-label">
        {{t "items.new.size"}}
      </div>
      <div class="columns small-3 value length">
        <span class='input_text'>L :</span>
        {{numeric-input name="length" id='length' value=length maxlength="8"}}
        <span><i aria-hidden="true">{{fa-icon 'times'}}</i></span>
      </div>
      <div class="columns small-3 value width">
        <span class='input_text'>W :</span>
        {{numeric-input name="width" id='width' value=width maxlength="5"}}
        <span><i aria-hidden="true">{{fa-icon 'times'}}</i></span>
      </div>
      <div class="columns small-3 value height">
        <span class='input_text'>H :</span>
        {{numeric-input name="height" id='height' value=height maxlength="5"}}
      </div>
    </div>
    {{#unless isValidDimension}}
      <div class="row error-message">
        <div class="small-3 columns item-label"></div>
        <div id="max-val-err" class='small-9 columns input-error show-validation'>
          {{t "items.new.validation_errors.invalid_dimensions"}}
        </div>
      </div>
    {{/unless}}
    <div class="row">
      <div class="small-3 columns item-label">
        {{t "items.new.weight"}}
      </div>
      <div class="small-3 columns weight">
        {{numeric-input name="weight" id='weight' value=weight maxlength="10" pattern="[0-9]{0,5}"}}
      </div>
      {{#if showPiecesInput}}
        <div class="small-3 columns item-label" align="right">
          {{t "items.new.pieces"}}
        </div>
        <div class="small-3 columns pieces">
          {{numeric-input name="pieces" id='pieces' value=pieces maxlength="10" pattern="[0-9]{0,5}"}}
        </div>
      {{/if}}
    </div>
    <div class="row">
      {{#if code.allowExpiryDate}}
        <div class="small-3 columns item-label">
          {{t "items.new.expiry_date"}}
        </div>
        <div class="small-3 columns weight">
          {{calendar-input
            name='expiry_date'
            id='expiry_date'
            value=''
            enablePastDate = true
            selection=expiry_date
            placeholder='Select Expiry'
            pattern="[a-zA-Z]{3}\s?[a-zA-Z]{3}\s?[0-9]{1,2}"}}
        </div>
        <i {{action (mut expiry_date) ""}} class="expiry_date_cancel">{{fa-icon 'times-circle' size="1x"}}</i>
      {{/if}}
    </div>
    <div class="row">
      <div class="small-3 columns item-label">
        Donation
      </div>
      <div class="small-9 columns donations offer-tag-detail">
        <span {{action 'addOffer'}}>
          {{fa-icon 'plus-square' size='2x'}}
        </span>
        {{#each offersLists as |offer|}}
          {{offer-tag
            class="offer-tag"
            offer=offer
            removeOffer=(action "removeOffer")
          }}
        {{/each}}
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns item-label">
        {{t 'item_details.constraints'}}
      </div>
      <div class="small-3 columns publish">
        {{select-list
          content=saleableOptions
          on-change=(action (mut saleableId))
          selectedValue=saleableId
          value=saleableId
          selectArrow=true
          classNames='grade'
        }}
      </div>
      <div class="small-6 columns publish">
        {{select-list
          content=restrictionOptions
          on-change=(action (mut restrictionId))
          selectedValue=restrictionId
          value=restrictionId
          selectArrow=true
          classNames='grade'
        }}
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns item-label">
        {{t 'item_details.comment'}}
      </div>
      <div class="small-9 large-9 columns description-block">
        {{auto-resize-textarea data-autoresize=true name="comments" value=comment pattern=".*\S.*" maxlength=180}}
      </div>
    </div>
    {{#if showAdditionalFields}}
      {{partial "items/additional_fields"}}
    {{/if}}
    <div class="form-footer">
      <div class="row">
        <div class="small-3 columns item-label">{{t "items.new.labels"}}</div>
        <div class="small-3 columns">
          {{numeric-input name="labels" id="labels" value=labels maxlength="3" pattern="\d{1,8}" acceptZeroValue="true"}}
          {{#if isInvalidaLabelCount}}
            <div id="label-empty-err" class='input-error show-validation'>
              {{t "items.new.validation_errors.blank_label"}}
            </div>
          {{/if}}
          {{#unless isInvalidPrintCount}}
            <div id="max-val-err" class='input-error show-validation'>
              {{t "items.new.validation_errors.max_label"}}
            </div>
          {{/unless}}
        </div>
        <div class="small-2 columns item-label">
          {{t "items.new.inventory"}}
        </div>
        <div class="small-4 columns inventory-number">
          {{#if inputInventory}}
            {{input value=inventoryNumber}}
            {{#unless inventoryNumber}}
              <div class="input-error show-validation">
                {{t "items.new.validation_errors.blank_inventory_number"}}
              </div>
            {{/unless}}
          {{else}}
            {{inventoryNumber}}
          {{/if}}
          {{partial "items/inventory_options"}}
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns item-label">
          <label>{{t "items.new.printer"}}</label>
        </div>
        <div class="small-4 columns printer-dropdown">
          <div class="dropdown-wrap">
            {{select-list
              content=allAvailablePrinters
              on-change=(action "setPrinterValue")
              selectedValue=selectedPrinterDisplay
              value=selectedPrinterDisplay
              selectArrow=true
            }}
          </div>
        </div>
      </div>
      <div class="row">
        {{#if showPublishItemCheckBox}}
          <div class="small-3 columns item-label">
            <label for="publishItem">{{t "items.new.publish"}}</label>
          </div>
          <div class="small-3 columns publish">
            {{input type="checkbox" id="publishItem" checked=isAllowedToPublish}}
          </div>
        {{/if}}
        {{#if showDuplicateCheckbox}}
          <div class="small-3 columns item-label">
            <label for="duplicateItem">{{t "items.new.duplicate"}}</label>
          </div>
          <div class="small-3 columns publish">
            {{input type="checkbox" name="duplicateItem" checked=shouldDuplicate}}
          </div>
        {{/if}}
      </div>
      <div class="row">
        <div class="small-6 columns">
          <a {{action 'cancelForm'}} class="button secondary expand">{{t "cancel"}}</a>
        </div>
        <div class="small-6 columns">
          <a {{action 'submit' target=form}} class="button expand">
            {{t "save"}}
            {{#if isMultipleCountPrint}}
              {{t "items.new.print" labels=printLabelCount}}<i class='fa fa-print'></i>
            {{/if}}
          </a>
        </div>
      </div>
    </div>
  {{/validatable-form}}
</section>
{{partial "loading_image"}}
