{{#sticky-footer columns=(if enableFooterActions 4 3)}}

  {{#if enableFooterActions}}
    <div class="extended-footer-menu {{if showExtendedFooterMenu 'visible'}}">
      <div class="click-out-overlay" {{action (mut showExtendedFooterMenu) false}}></div>
      <div class="row">
        <div class="small-12 columns">
          <ul class="flex">
            <li class="menu {{if (is-or item.isBoxPallet item.isPartOfSet) 'disabled'}}"
              {{action (
                multi-actions
                  (action 'makeCurrentPackageASet')
                  (toggle this "showExtendedFooterMenu")
                )
              }} >
              <i>{{fa-icon 'object-group'}}</i> {{t 'items.make_set'}}
            </li>
            {{#each itemActions as |action|}}
              {{#if action.loss}}
                <li class="menu {{if (is-and allowItemActions item.availableQuantity) '' 'disabled'}}"
                  onclick={{if item.availableQuantity (action 'triggerItemAction' item action.name)}} >
                  <i>{{fa-icon action.icon}}</i> {{action.displayName}}
                </li>
              {{else}}
                <li class="menu {{if allowItemActions (if isGainInvalidInBoxOrPallet 'disabled') 'disabled'}}"
                  {{action (
                    multi-actions
                      (action "triggerItemAction" item action.name)
                      (toggle this "showExtendedFooterMenu")
                    )
                  }}>
                  <i>{{fa-icon action.icon}}</i> {{action.displayName}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="small-6 columns">
          {{toggle-switch
              disabled=(unless allowPublish true)
              on-icon='eye'
              off-icon='eye-slash'
              on-text=(t 'item_filters.published')
              off-text=(t 'item_filters.private')
              value=model.allowWebPublish
              after-change=(action 'persistModel')
          }}
        </div>
        <div class="small-6 columns">
          <ul>
            <li class="menu">
              {{#goodcity/designate-link pkg=item}}
                <i>{{fa-icon 'shopping-basket'}}</i> {{t "item.designate"}}
              {{/goodcity/designate-link}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  {{/if}}

  {{#link-to 'items.detail' model.id tagName='li' href=false replace=true}}
    <i aria-hidden="true">{{fa-icon 'file-alt'}}</i>
  {{/link-to}}

  {{#link-to 'items.history' model.id tagName='li' href=false replace=true}}
    <i aria-hidden="true">{{fa-icon 'clock'}}</i>
  {{/link-to}}

  {{#link-to 'items.staff_conversation' model.id tagName='li' href=false replace=true}}
    {{#if model.hasUnreadMessages}}
      <div class='unread_message'>
        {{model.unreadMessagesCount}}
      </div>
    {{/if}}
    <i aria-hidden="true">{{fa-icon 'comments'}}</i>
  {{/link-to}}

  {{#if enableFooterActions}}
    <li class="menu" {{action (toggle this "showExtendedFooterMenu")}}>
      <i>{{fa-icon 'bars'}}</i>
    </li>
  {{/if}}
{{/sticky-footer}}
