<div class="charity-position-page">
  <div class="header-container">
    <div class="back-button">
      {{#link-to "manage_users" class="user-back-link"}}
        <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
        <span>{{t "back"}}</span>
      {{/link-to}}
    </div>
    <div>
      <h3 class="header">
        {{t 'users.charity_position.add_charity_position'}}
      </h3>
    </div>
  </div>

  {{#validatable-form onSubmit=(action 'save') as |form|}}
    <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="status">{{t 'users.charity_position.status'}}</label>
          <div class="status">
            {{select-list
              content=allStatus
              on-change=(action "onStatusChange")
              selectedValue=selectedStatus
              value=selectedStatus
              selectArrow=true
              classNames='grade' }}
          </div>
        </li>
      </ul>

      <ul class="wrapper">
        <li class="form-row">
          <label for="organisation">{{t 'users.organisation'}}</label>
          <div class="organisation-search" {{action "serchOrganisation"}}>
            {{#if organisation}}
              {{input type="text" id = "organisation" required='true' autocomplete='off' value=organisation.nameEn}}
            {{else}}
              {{input type="text" id = "organisation" required='true' autocomplete='off'}}
            {{/if}}
          </div>
        </li>
      </ul>
      {{#if isInvalidOrganisation }}
        <div class="error-wrapper">
          <div class='error-message'>{{t 'users.charity_position.validation_errors.organisation'}}</div>
        </div>
      {{/if}}

      <ul class="wrapper">
        <li class="form-row">
          <label for="position">{{t 'users.charity_position.position'}}</label>
          {{input type='text' id='position' value=position}}
        </li>
      </ul>

      <ul class="wrapper">
        <li class="form-row">
          <label for="preferred_number">{{t 'users.charity_position.preferred_number'}}</label>
          {{numeric-input value=preferredContactNumber id="preferred_number" maxlength="8" pattern=".{8,}" required='true'}}
        </li>
      </ul>
    </div>
    {{#if isInvalidPreferredNumber }}
      <div class="error-wrapper">
        <div class='error-message'>{{t 'users.charity_position.validation_errors.preferred_number'}}</div>
      </div>
    {{/if}}

    <div class="button-container">
      <div class="button-wrapper">
        <a {{action 'cancel'}} class="button secondary expand">{{t "cancel"}}</a>
      </div>
      <div class="button-wrapper">
        <a {{action 'submit' target=form}} class="button expand">
          {{t "save"}}
        </a>
      </div>
    </div>
  {{/validatable-form}}
</div>
