<nav class="tab-bar user-details-heading">
  <section class="left-small">
    {{#link-to "users.details" model.id class="user-back-link"}}
    <div>{{t "cancel"}}</div>
    {{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">
      Stock App Details
    </h1>
  </section>
</nav>

<section class="user-details-section role-access-form">
  <div class="row">
    <div class="columns small-12">

      <div class="access-heading">
        Access Status for {{model.fullName}}
      </div>

      <div class="custom_radio_buttons" for="admin_role_access">
        {{radio-button
          name="adminRoleAccess"
          id="noAccess"
          value="noAccess"
          selection=adminRoleAccess
          required='true'}}
        <label class="radio-button-text align-text hire_vehicle" for="noAccess">

          <div class="label-position ggv-label self-label">
            No Access
          </div>

        </label>
      </div>

      <div class="custom_radio_buttons" for="admin_role_access">
        {{radio-button
            name="adminRoleAccess"
            id="accessTill"
            value="accessTill"
            selection=adminRoleAccess
            required='true'}}
        <label class="radio-button-text align-text hire_vehicle" for="accessTill">

          <div class="label-position ggv-label self-label">
            Access Until
          </div>

        </label>
      </div>

      <div class="custom_radio_buttons" for="admin_role_access">
        {{radio-button
              name="adminRoleAccess"
              id="accessForever"
              value="accessForever"
              selection=adminRoleAccess
              required='true'}}
        <label class="radio-button-text align-text hire_vehicle" for="accessForever">

          <div class="label-position ggv-label self-label">
            Access Forever
          </div>

        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 roles-selection">

      <div class="access-heading">
        Role assigned for processing orders
      </div>

      <div class="time_inputs id-type-radio-input row">
        <div class='custom_radio_buttons small-12 columns'>
          {{input type="checkbox" name="labor" checked=false id='order_fulfilment_role'}}
          <label class="checkbox-left" for='order_fulfilment_role'>
            Order Fulfilment
            <div class="role-info"> This role is for reviewing orders.</div>
          </label>
        </div>
      </div>

      <div class="time_inputs id-type-radio-input row">
        <div class='custom_radio_buttons small-12 columns'>
          {{input type="checkbox" name="labor" checked=false id='order_administrator_role'}}
          <label class="checkbox-left" for='order_administrator_role'>
            Order Administrator
            <div class="role-info"> This role is for managing orders.</div>
          </label>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="columns small-12 roles-selection">

      <div class="access-heading">
        Role assigned for processing stock
      </div>

      <div class="time_inputs id-type-radio-input row">
        <div class='custom_radio_buttons small-12 columns'>
          {{input type="checkbox" name="labor" checked=false id='stock_fulfilment_role'}}
          <label class="checkbox-left" for='stock_fulfilment_role'>
            Stock Fulfilment
            <div class="role-info"> This role is for reviewing stock items.</div>
          </label>
        </div>
      </div>

      <div class="time_inputs id-type-radio-input row">
        <div class='custom_radio_buttons small-12 columns'>
          {{input type="checkbox" name="labor" checked=false id='stock_administrator_role'}}
          <label class="checkbox-left" for='stock_administrator_role'>
            Stock Administrator
            <div class="role-info"> This role is for managing stock items.</div>
          </label>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="roles-error">
      <i>{{fa-icon 'exclamation-triangle'}}</i>
      <span>Access to Stock App requires at least one role to be assigned.</span>
    </div>
  </div>

  <div class="row">
    <div class="columns small-8 printer-selection ui">

      <div class="printer-heading">
        Preferred Label Printer in Stock App
      </div>

      {{select-list
        content=printers
        on-change=(action "onPrinterChange")
        selectedValue=defaultPrinter
        selectArrow=true
        value=defaultPrinter
        classNames='printer-list'
        idNames='condition-select' }}

    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <a {{action 'cancelForm'}} class="button secondary expand">{{t "cancel"}}</a>
    </div>
    <div class="small-6 columns">
      <a {{action 'saveUserRoles'}} class="button expand">
        {{t "save"}}
      </a>
    </div>
  </div>
</section>
