<div class="row">
    <div class="row gc-order-status gc-{{model.state}}-color">
      <div class="small-12 columns status">
        <div class="order-type">
          <i>{{fa-icon order.transportIcon}}{{fa-icon 'lg'}}</i> {{ order.transportLabel }}
        </div>
        <div class="time-details">
          {{#if (is-equal model.capitalizedState "Submitted")}}
            {{t "order.submitted"}}, {{display-datetime model.submittedAt format="DD MMM 'YY"}}
          {{else if (is-equal model.capitalizedState "Processing")}}
            {{model.capitalizedState}} {{#if model.processedAt}} ,{{display-datetime model.processedAt format="DD MMM 'YY"}}{{/if}}
          {{else if (is-equal model.capitalizedState "Awaiting_dispatch")}}
            {{t "order.awaiting_dispatch"}}, {{display-datetime model.processCompletedAt format="DD MMM 'YY"}}
          {{else if (is-equal model.capitalizedState "Cancelled")}}
            <div class="edit-cancel" {{action 'updateOrder' model 'cancel'}}>
              {{t "order.cancelled"}} {{#if model.cancelledAt}},{{display-datetime model.cancelledAt format="DD MMM 'YY"}}{{/if}}
                <div class="cancel-reason">
                <div class="cancel-reason-title">{{model.cancellationReason.name}}.</div>
                <div class="reason">{{model.cancelReason}}</div>
                </div>
            </div>
          {{else if (is-equal model.capitalizedState "Closed")}}
            {{t "order.closed"}} {{#if model.closedAt}},{{display-datetime model.closedAt format="DD MMM 'YY"}}{{/if}}
          {{else if (is-equal model.capitalizedState "Draft")}}
            {{t "order.draft"}}
          {{else if (is-equal model.capitalizedState "Dispatching")}}
            {{t "order.dispatching"}}
            {{#if model.dispatchStartedAt}},{{display-datetime model.dispatchStartedAt format="DD MMM 'YY"}}{{/if}}
          {{/if}}
        </div>
      </div>
      {{#if (is-equal model.capitalizedState "Submitted")}}
        <div class="small-12 columns">
          <button {{action 'updateOrder' model 'start_processing'}} class="button expand">
            {{#if isOrderProcessRestarted}}
              {{t "order.restart_process"}}
            {{else}}
              {{t "order.start_process"}}
            {{/if}}
          </button>
        </div>
      {{else if (is-equal model.capitalizedState "Processing")}}
        <div class="small-6 medium-6 large-6 columns">
          <button {{action 'updateOrder' model 'finish_processing'}} class="button expand">{{t "order.finish_process"}}</button>
        </div>
        <div class="small-6 medium-6 large-6 columns">
          <button {{action 'updateOrder' model 'cancel'}} class="button expand">{{t "order.cancel_order"}}</button>
        </div>
      {{else if (is-equal model.capitalizedState "Awaiting_dispatch")}}
        <div class="small-6 medium-6 large-6 columns">
          <button {{action 'updateOrder' model 'start_dispatching'}} class="button expand">{{t "order.start_dispatching"}}</button>
        </div>
        <div class='small-6 medium-6 large-6 columns'>
          <button {{action 'updateOrder' model 'cancel'}} class="button expand">{{t "order.cancel_order"}}</button>
        </div>
      {{else if (is-equal model.capitalizedState "Dispatching")}}
        <div class="small-6 medium-6 large-6 columns">
          <button {{action 'updateOrder' model 'close'}} class="button expand">{{t "order.close_order"}}</button>
        </div>
        <div class='small-6 medium-6 large-6 columns'>
          <button {{action 'updateOrder' model 'cancel'}} class="button expand">{{t "order.cancel_order"}}</button>
        </div>
      {{/if}}
    </div>
</div>
