<section class="left-small">
  <a href="#" {{action 'back'}} classNames="back">
    <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
    <div>{{t "back"}}</div>
  </a>
</section>

<section class="middle tab-bar-section">
  <h1 class="title">{{t "order_details.order"}} {{model.code}}</h1>
</section>
