<nav class="tab-bar order_fixed_header">
  {{partial "orders/orders_back_link_path"}}
  <section class="right-small">
    {{partial "orders/review_order_options"}}
  </section>
</nav>

<section class="main-section order_page">
  {{partial "orders/order_status_bar"}}
  {{partial "orders/order_tabs"}}
  {{partial "orders/items_list_tabs"}}
  {{partial "orders/cancel_message_popup"}}

  {{#unless (is-or model.isCancelled model.isClosed)}}
    <div class="row add_item_button">
      <div class=" {{if isMobileApp 'small-9' 'small-12'}} columns">
          {{#link-to "orders.items" model class="button expand" disabled=model.isDraft}}{{t "order_details.add_item_to_order"}}{{/link-to}}
      </div>
      {{#if isMobileApp}}
        <div class="small-3 columns">
          {{scan-barcode-button record=model route="orders.items"}}
        </div>
      {{/if}}
    </div>
  {{/unless}}

  <div class="row drop-down">
    <div class="small-5 columns">
      Search Items: <br>
      {{focus-textfield
      name="searchText"
      id="searchText"
      class="search-orders"
      placeholder=(t "search_min")
      value=searchText }}
    </div>
    <div class="small-4 columns">Sort by:
      {{#pluggable-drop-down setSelectedValue=(action "applySortOn") as |dropDown|}}
        {{#dropDown.selectedDropDown}}
          <div class="options-menu-title">
            {{#let-alias setDefaultSortingColumn as |item|}}
              {{item.column_name}}
              &nbsp;
              {{#if (is-equal item.sort "asc")}}
                {{fa-icon 'sort-alpha-up'}}
              {{else}}
                {{fa-icon 'sort-alpha-down'}}
              {{/if}}
            {{/let-alias}}
          </div>
        {{/dropDown.selectedDropDown}}

        {{#dropDown.dropDownBody}}
          <div class="options_menu_list option_margin">
            {{#each dropDownItems as |item|}}
              <div class="option_menu" {{action dropDown.clickItem item}}>
                {{item.column_name}}
                &nbsp;
                {{#if (is-equal item.sort "asc")}}
                  {{fa-icon 'sort-alpha-up'}}
                {{else}}
                  {{fa-icon 'sort-alpha-down'}}
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/dropDown.dropDownBody}}
      {{/pluggable-drop-down}}
    </div>

    <div class="small-3 columns">
      State Filters:
      {{#pluggable-drop-down as |dropDown|}}
        {{#dropDown.selectedDropDown}}
          <div class="options-menu-title">
            {{#if (is-equal filteredStates.length 0) }}
              States
            {{else if (is-equal filteredStates.length 1) }}
              {{capitalize-string filteredStates.firstObject}}
            {{else}}
              States.{{filteredStates.length}}
            {{/if}}
            &nbsp;
            {{fa-icon 'filter'}}
          </div>
        {{/dropDown.selectedDropDown}}

        {{#dropDown.dropDownBody}}
          <div class="options_menu_list option_margin">
            {{#each states as |state|}}
              <div class="option_menu">
                <div class="row">
                  <div class="column-4 columns">
                    <span class="menu-option-text">
                      {{capitalize-string state.state}}
                    </span>
                    <span class="checkbox-container">
                      {{input type="checkbox" name=state.state checked=state.enabled class="checkbox"}}
                    </span>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{/dropDown.dropDownBody}}
      {{/pluggable-drop-down}}
    </div>
  </div>

  {{#if displayResults}}
    {{#infinite-list height="60vh" loadMore=(action "loadOrdersPackages") as |op| }}
      {{#each op as |ordersPackage|}}
        {{goodcity/orders-package-block orderPkg=ordersPackage packageView=true}}
      {{/each}}
    {{/infinite-list}}
  {{/if}}
</section>