<nav class="tab-bar order_fixed_header">
  {{partial "orders/orders_back_link_path"}}
  <section class="right-small">
    {{partial "orders/review_order_options"}}
  </section>
</nav>

{{#message-box btn1Text="Not Now"  btn2Text="Cancel Order" btn2Callback=(action "cancelOrder") isVisible=showCancellationReason classNames="popupOverlay cancellation_reason"}}
  <p>This will remove any items from the order and cancel the order</p>
  <strong>Cancellation Reasons</strong>
  {{#each cancellationReason as |reason|}}
    <div class="custom_radio_buttons ">
    {{radio-button
      name= reason.name
      id= reason.id
      value= reason.id
      selection=cancellationReasonId
      required='true'}}
    <label class="radio-button-text align-text hire_vehicle" for={{reason.name}}>
      {{reason.name}}
    </label>
  </div>
  {{/each}}
   {{auto-resize-textarea data-autoresize=true name="otherCancellationReason" value=otherCancellationReason required="required" pattern=".*\S.*" id="otherCancellationReason"}}
{{/message-box}}

<section class="main-section order_page">
  {{partial "orders/order_status_bar"}}
  {{partial "orders/order_tabs"}}
  {{partial "orders/items_list_tabs"}}

  {{#unless (is-or (is-or model.isInactive model.isCancelled) model.isClosed)}}
    <div class="row add_item_button">
      <div class=" {{if isMobileApp 'small-9' 'small-12'}} columns">
          {{#link-to "orders.items" model (query-params searchInput="") class="button expand"}}{{t "order_details.add_item_to_order"}}{{/link-to}}
      </div>
      {{#if isMobileApp}}
        <div class="small-3 columns">
          {{scan-barcode-button record=model route="orders.items"}}
        </div>
      {{/if}}
    </div>
  {{/unless}}

  {{#each itemsList as |ordersPackage|}}
    {{goodcity/orders-package-block orderPkg=ordersPackage packageView=true}}
  {{/each}}

  {{#each canceledItemsList as |ordersPackage|}}
    {{goodcity/orders-package-block orderPkg=ordersPackage packageView=true}}
  {{/each}}

  <div class="row show_more" >
    {{#unless displayAllItems}}
      <div class="small-12 columns" {{action "displayAllItems"}}>
        {{t "order_details.show_more_items"}} <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-down'}}</i>
      </div>
    {{/unless}}
  </div>

</section>
