<nav class="tab-bar order_fixed_header">
  {{partial "orders/orders_back_link_path"}}
  <section class="right-small">
    {{partial "orders/review_order_options"}}
  </section>
</nav>

<section class="main-section order_page">
  {{partial "orders/order_status_bar"}}
  {{partial "orders/order_tabs"}}
  {{partial "orders/summary_tabs"}}
  {{partial "orders/cancel_message_popup"}}
  <div class="row">
    <div class="small-12 columns main_details">
      {{#if model.beneficiary}}
        {{#if model.isEditAllowed}}
          <div class="row">
            <div class="small-5 columns">
              {{t "order_client_summary.remove_client_title"}}
            </div>
            <div {{action 'removeBeneficiaryModal'}}  class="small-7 columns underline">
              {{t "order_client_summary.remove_client_info"}}
            </div>
          </div>
          <br/>
        {{/if}}

        <div class="row">
          <div class="small-5 columns">
            {{t "order.title"}}
          </div>
          <div id="client_name" class="small-7 columns">
            <div class="columns small-3 value quality">
              <div class="select-quality">
                {{inline-select-list
                  content=titles
                  disabled=(if model.isEditAllowed "" true)
                  on-change=(action (mut selectedReason))
                  name="title"
                  autosave=true
                  isPrimitive=true
                  item=model.beneficiary
                  id="beneficiary-title-select"
                  class="beneficiary-inline-select"
                  beneficiary=model.beneficiary}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            {{t "order.client_information.first_name"}}
          </div>
          <div id="client_first_name" class="small-7 columns">
            <div class="columns small-9">
              {{beneficiary-inline-input
                name="first_name"
                disabled=(if model.isEditAllowed "" true)
                maxlength=50
                id="beneficiary-numeric-input-fname"
                class="numeric-input beneficiary-inline-input beneficiary-title"
                value=model.beneficiary.firstName
                beneficiary=model.beneficiary}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            {{t "order.client_information.family_name"}}
          </div>
          <div id="clint_last_name" class="small-7 columns">
            <div class="columns small-9">
              {{beneficiary-inline-input
                name="last_name"
                disabled=(if model.isEditAllowed "" true)
                maxlength=50
                id="beneficiary-numeric-input-lname"
                class="numeric-input beneficiary-inline-input beneficiary-title"
                value=model.beneficiary.lastName
                beneficiary=model.beneficiary}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            {{t "order_client_summary.client_phone"}}
          </div>
          <div id="phone_number" class="small-7 columns">
            {{t 'mobile_prefix'}}
            {{numeric-inline-input
              name="phone_number"
              maxlength=8
              id="beneficiary-phone-input"
              disabled=(if model.isEditAllowed "" true)
              class="numeric-input beneficiary-inline-input"
              value=model.beneficiary.mobileWithoutCountryCode
              isMaxLengthRequired=true
              type='tel'
              onSettingInput=(action 'updateBeneficiary')
            }}
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns beneficiary-id-title">
            {{t "order_client_summary.id_title"}}
          </div>
          <div class="small-7 columns">
            <div class="value quality">
              <div class="select-quality">
                {{inline-select-list
                  content=identityTypes
                  disabled=(if model.isEditAllowed "" true)
                  on-change=(action (mut selectedReason))
                  name="identityType"
                  item=model.beneficiary
                  autosave=true
                  id="beneficiary-identity-select"
                  class="beneficiary-identity-select"
                  beneficiary=model.beneficiary}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            {{t "order_client_summary.id_number"}}
          </div>
          <div id="id_number" class="small-7 columns">
            {{numeric-inline-input
              name="identity_number"
              maxlength=4
              id="beneficiary-id-number"
              disabled=(if model.isEditAllowed "" true)
              class="numeric-input beneficiary-inline-input"
              value=model.beneficiary.identityNumber
              isMaxLengthRequired=true
              type='tel'
              onSettingInput=(action 'updateBeneficiary')
            }}
          </div>
          <br/>
          <hr/>
        </div>
      {{else}}
        {{#if model.isEditAllowed}}
          <div class="row">
            <div class="small-5 columns">
              {{t "order_client_summary.no_client"}}
            </div>
            <div class="small-7 columns underline">
              {{#link-to 'order.client_information' model.id (query-params prevPath="client_summary") tagName='div' href=false}}
                {{t "order_client_summary.add_beneficiary"}}
              {{/link-to}}
            </div>
            <br/>
            <hr/>
          </div>
        {{/if}}
      {{/if}}
      <div class="row">
        <div class="small-12 columns active">
          {{t "order_client_summary.request_purpose"}}
        </div>
        <br/>
      </div>

      <div class="row">
        <div class="small-5 columns">
          {{t "order_client_summary.number_benefiting"}}
        </div>
        <div class="small-7 columns">
          {{numeric-input
            name="people_helped"
            maxlength=6
            pattern=".{1,}"
            disabled=(if model.isEditAllowed "" true)
            class="numeric-input beneficiary-inline-input people-helped"
            value=model.peopleHelped
            type='tel'
            focusOut=(action 'updatePeopleHelped')
          }}
          {{#if isInvalidPeopleCount }}
            <div class='client_people_helped_error people_helped_error'>
              {{fa-icon "exclamation-triangle"}}
              <span class="error-reason-margin">
                {{t "order_client_summary.people_helped_error"}}
              </span>
            </div>
          {{/if}}
        </div>
      </div>

      <div class="row">
        <div class="small-5 columns">
          {{t "order_client_summary.description_of_need"}}
        </div>
        <div class="small-7 columns">
          {{auto-resize-textarea
            data-autoresize=true name="purpose_description"
            value=model.purposeDescription
            disabled=(if model.isEditAllowed "" true)
            pattern=".*\S.*"
            id="purpose_description"
            class="description-textarea order-description-textarea"
            focusOut=(action "updatePurposeDescription")
          }}
          {{#if noPurposeDescription }}
            <div class='client_summary_description_error description_error'>
              {{fa-icon "exclamation-triangle"}}
              <span class="error-reason-margin">
                {{t "order_client_summary.description_error"}}
              </span>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>


{{#message-box btn1Text=(t "not_now") btn2Text="Delete" btn2Callback=(action "deleteBeneficiary") isVisible=showBeneficiaryModal classNames="popupOverlay"}}

  <p class="bold">{{t 'beneficiary_warning.delete_title'}}</p>
  <div>{{t 'beneficiary_warning.delete_info'}}</div>
  <p class="bold">{{t 'beneficiary_warning.warning'}}</p>

{{/message-box}}
