<div class="row fixed_search_header items-search search-box ui">
  <div class="small-12 columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder=(t "search_min")
      value=searchText }}

    {{#if hasSearchText}}
      <i {{action "clearSearch"}}>{{fa-icon 'times-circle'}}</i>
    {{/if}}
  </div>
  {{order-filter-buttons}}
</div>

<section class="main-section orders_search_result">
  <div class="row search">
    <div class="small-12 columns">
      <div class="small-12 columns">
        {{#if displayResults}}
          {{#infinite-list height="75vh" loadMore=(action "loadMoreOrders") as |items| }}
            <ul class="list list-activity list-offer-items">
              {{#each items as |order|}}
                {{#link-to 'orders.items_list' order href=false}}
                  {{partial 'orders/order_block'}}
                {{/link-to}}
              {{/each}}
            </ul>
          {{/infinite-list}}
        {{/if}}
      </div>
    </div>
  </div>
  {{partial "sticky_footer"}}
</section>
