<nav class="tab-bar order_fixed_header">
  {{partial "orders/orders_back_link_path"}}
  <section class="right-small">
    {{partial "orders/review_order_options"}}
  </section>
</nav>

<section class="main-section order_page">
  {{partial "orders/order_status_bar"}}
  {{partial "orders/order_tabs"}}
  {{partial "orders/cancel_message_popup"}}
</section>

<section class="order-booking-tab">
  <div class="data-section">
    <div class="sticky-note">
      {{#if showCallToAction}}
        <div class="call-to-action">
          <i aria-hidden="true">{{fa-icon 'sticky-note' }}</i>
          {{t 'order_details.logistics.add_note'}}
        </div>
      {{/if}}
      {{#if stickyNote.showSaveButton}}
        <div class="save-button" {{ action 'saveStickyNote' }}>
          <span class="fade-out "> {{t 'order_details.logistics.tap_to_save' }} > </span>
          <i aria-hidden="true">{{fa-icon 'save' }}</i>
        </div>
      {{/if}}
      {{auto-resize-textarea
        data-autoresize=true
        name="staffNote"
        value=model.staffNote
        clickAction=(action 'hideNoteCallToAction')
        focusOutAction=(action 'showNoteCallToAction')
        changeAction=(action 'onStickyNoteChanged')
        id="sticky-note"}}
    </div>

    {{#if model.isGoodCityOrder}}
      <div class="data-rows">
        {{#unless model.isDraft}}
          {{#each logisticDataRows as |dataRow|}}
            <div class="row">
              <div class="columns small-4 text-prefix">
                {{ dataRow.label }}
              </div>
              {{#unless dataRow.selectable}}
                <div class="columns small-8 text {{dataRow.name}}" {{ action dataRow.action }}>
                  {{ dataRow.text }}
                  <i aria-hidden="true">{{fa-icon dataRow.icon }}</i>
                </div>
              {{else}}
                <div class="columns small-8 text input {{dataRow.name}}">
                  {{select-list
                    content=dataRow.options
                    on-change=(action dataRow.action)
                    selectedValue=dataRow.value
                    value=dataRow.value
                    selectArrow=false
                  }}
                  <i aria-hidden="true">{{fa-icon dataRow.icon }}</i>
                </div>
              {{/unless}}
            </div>
          {{/each}}
        {{/unless}}

        {{#message-box
          btn1Text=(t "save")
          btn1Callback=(action "saveNewSchedule")
          btn2Text=(t "cancel")
          btn2Callback=(action "closeSchedulePopup")
          isVisible=scheduleChangePopupVisible
          classNames="popupOverlay ui"
        }}
          <div class="reschedule-popup">
            <div class="row">
              <div class="input-label">{{t 'settings.appointments.select_timeslot' }}</div>
              <div class="small-1 columns">
                <i>{{fa-icon 'pencil-alt'}}</i>
              </div>
              <div class="small-11 columns">
                <div>
                  {{select-list
                    content=scheduleTimeSlots
                    on-change=(action 'selectTimeslot')
                    selectedValue=selectedTimeslot
                    selectArrow=false
                    classNames='timeslots'
                    idNames='timeslot-select' }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-label">{{t 'settings.appointments.select_day'}}</div>
              <div class="small-1 columns">
                <i class="calender_icon">{{fa-icon 'calendar'}}</i>
              </div>
              <div class="small-11 columns">
                {{calendar-input
                  name='selectedDate'
                  id='date-selector'
                  value=scheduledAtStringPlaceholder
                  selection=selectedScheduleDate
                  placeholder=placeHolderDate
                  pattern="[a-zA-Z]{3}\s?[a-zA-Z]{3}\s?[0-9]{1,2}"}}
              </div>
            </div>

            <div class="missing-input-message {{if incompleteForm 'show' 'hide'}}">* {{ t 'incomplete_form' }}</div>
          </div>
        {{/message-box}}
      </div>
    {{/if}}
  </div>

  {{#unless model.isDraft}}
    {{#if (is-and model.isOnlineOrder model.isDelivery model.address)}}
      <div class="data-section">
        {{!-- ADDRESS SECTION --}}

        <div class="data-section-title">
          {{t 'order_details.logistics.delivery_address' }}
        </div>

        <div class="data-rows">
          {{#each addressDataRows as |dataRow|}}
            <div class="row">
              <div class="columns small-4 text-prefix">
                {{ dataRow.label }}
              </div>
              {{#if dataRow.isText}}
                {{input type="text" value=dataRow.value input=(action dataRow.action)}}
              {{else}}
                {{#unless dataRow.selectable}}
                  <div class="columns small-8 text {{dataRow.name}}" {{ action dataRow.action }}>
                    {{ dataRow.text }}
                    <i aria-hidden="true">{{fa-icon dataRow.icon }}</i>
                  </div>
                {{else}}
                  <div class="columns small-8 text input {{dataRow.name}}">
                    {{select-list
                      content=dataRow.options
                      on-change=(action dataRow.action)
                      selectedValue=dataRow.value
                      value=dataRow.value
                      selectArrow=false
                    }}
                    <i aria-hidden="true">{{fa-icon dataRow.icon }}</i>
                  </div>
                {{/unless}}
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/unless}}

  {{#if model.isGoodCityOrder}}
    <div class="checklist-section">
      <div class="title">{{t 'order_details.logistics.processing_checklist'}}</div>
      <div class="checklist-rows">
        {{#each checklist as |check|}}
          <div class="row">
            <div class="columns small-1">
              <div class="checkbox" {{ action 'toggleCheckbox' check.item }}>
                {{#if check.isChecked }}
                  <i>{{fa-icon 'check'}}</i>
                {{/if}}
              </div>
            </div>
            <div class="columns small-11 text">
              {{ check.item.text }}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</section>
