<nav class="tab-bar order_fixed_header">
  {{partial "orders/orders_back_link_path"}}
  <section class="right-small">
    {{partial "orders/review_order_options"}}
  </section>
</nav>

<section class="main-section order_page">
  {{partial "orders/order_status_bar"}}
  {{partial "orders/order_tabs"}}
  {{partial "orders/items_list_tabs"}}
  {{#unless (is-or (is-or model.isInactive model.isCancelled) model.isClosed)}}
    <div class="row add_item_button">
      <div class="small-12 columns">
        {{#link-to "orders.search_code" model.id (query-params orderId=model.id searchInput="" changeCode=false) id="requestbtn" class="button expand"}}
          {{t "order_details.add_request_to_order"}}
        {{/link-to}}
      </div>
    </div>
  {{/unless}}
  <section class="main-section item_details_screen">
    <div class="row first-line">
      <hr/>
    </div>
    {{#each sortedGcRequests as |req index|}}
      {{add-request request=req id=index order=model}}
    {{/each}}
  </section>
</section>
