<nav class="tab-bar order_fixed_header">
  {{partial "orders/orders_back_link_path"}}
  <section class="right-small">
    {{partial "orders/review_order_options"}}
  </section>
</nav>

<section class="main-section order_page">
  {{partial "orders/order_status_bar"}}
  {{partial "orders/order_tabs"}}
  {{partial "orders/items_list_tabs"}}
  {{partial "orders/cancel_message_popup"}}
  {{#unless (is-or model.isCancelled model.isClosed)}}
    <div class="row add_item_button">
      <div class="small-12 columns">
        <div class="button expand" {{action "addRequest"}} id="requestbtn">
          {{t "order_details.add_request_to_order"}}
        </div>
      </div>
    </div>
  {{/unless}}
  <section class="main-section item_details_screen">
    <div class="row first-line">
      <hr/>
    </div>
    {{#each sortedGcRequests as |req index|}}
      {{add-request request=req id=index order=model}}
    {{/each}}
  </section>
</section>
