
  <button {{action "toggleItemOptions"}} class="button options-arrow" {{on-click-outside (action "closeItemOptions")}}>
    <div class="icon-holder">{{fa-icon 'caret-down' }}</div>
  </button>


<div class="options_menu_list {{if displayItemOptions '' 'hidden'}}">
  {{#each itemActions as |action|}}
    {{#if action.loss}}
      <div class="option_menu {{if item.availableQuantity '' 'disabled'}}"
        onclick={{if item.availableQuantity (action 'triggerItemAction' item action.name)}} >
        {{fa-icon action.icon}} {{action.displayName}}
      </div>
    {{else}}
      <div class="option_menu {{if isGainInvalidInBoxOrPallet 'disabled'}}" onclick={{if isGainInvalidInBoxOrPallet ''  (action "triggerItemAction" item action.name)}}>
        {{fa-icon action.icon}} {{action.displayName}}
      </div>
    {{/if}}
  {{/each}}
</div>
