<div class="row">
  <div class="row box-pallet-tabs">
    <div {{action 'openTab' 'list'}} class="tab list small-6 columns {{if listTabSelected  'selected'}}">
      <span>{{storageTypeName}} content</span>
    </div>
    <div {{action 'openTab' 'detail_content'}}
      class="tab detail_content small-6 columns {{if (is-equal tabName 'detail_content') 'selected'}}">
      <span>{{storageTypeName}} details</span>
    </div>
  </div>
</div>
