<div class="location-tab">

  <div class="locations">
    {{!-- LOCATIONS --}}
    <div class="row header-row top">
      <div class="columns small-6">{{t 'location'}}</div>
      <div class="columns small-6">{{t 'partial_undesignate.qty'}}</div>
    </div>
    {{#each model.packagesLocations as |pkgLocation|}}
      <div class="row content-row">
        <div class="columns small-2 highlighted">
          <div class="highlight">&nbsp;{{ pkgLocation.location.building }}</div>
        </div>
        <div class="columns small-4">
          <div class="highlight">&nbsp;{{ pkgLocation.location.area }}</div>
        </div>
        <div class="columns small-2">&nbsp;{{ pkgLocation.quantity }}</div>
        <div class="columns small-2">
          <div class="light-button move-button" {{action 'beginMove' model pkgLocation.location}}>{{t 'item.move' }}</div>
        </div>
        <div class="columns small-2"></div>
      </div>
    {{/each}}
    <div class="row content-row italic">
      <div class="columns small-6">&nbsp;</div>
      <div class="columns small-2">{{ model.dispatchedQuantity }}</div>
      <div class="columns small-2">
        {{t 'item_filters.dispatched' }}
      </div>
      <div class="columns small-2"></div>
    </div>

    {{#if readyToMove}}
      {{#message-box
          btn1Text=(t "item.move")
          btn1Callback=(action "completeMove")
          btn2Text=(t "cancel")
          btn2Callback=(action "cancelMove")
          isVisible=true
          classNames="modal-overlay operation-confirmation move-confirmation"
        }}
          <p>{{fa-icon 'people-carry'}} {{t 'select_location.moving_item_to' }} {{moveTo.name}}</p>

          {{package-summary-block model=model}}

          <div>
            <p>
              {{t 'select_location.quantity_input'}}

              {{numeric-input
                name="moveQty"
                value=moveQty
                maxlength="5"
                pattern="^[1-9][0-9]*$"
                disabled=(unless editableQty true)
                class="qty-input"}}
            </p>
          </div>
      {{/message-box}}
    {{/if}}
  </div>

  <div>
    {{!-- BOXES --}}
    <div class="row header-row bottom">
      {{t 'items.containers_label'}}
    </div>
    <div class="row content-row box-list">
      {{#reactive-view model=model}}
       {{#if displayResults}}
          {{#infinite-list height="40vh" loadMore=(action "fetchParentContainers") as |pkgs| }}
            {{#each pkgs as |pkg|}}
              {{package-summary-block model=pkg showBoxPalletDetails=true item=model onUnpack=(action 'reloadItemsInContainer')}}
            {{/each}}
          {{/infinite-list}}
        {{/if}}
      {{/reactive-view}}
    </div>
  </div>
</div>

{{partial 'items/detail/tabs/item_actions_overlay'}}
