<div class="publishing-tab">
  <div class="row">
    <div class="tab-title">
      {{#if model.allowWebPublish}}
        {{fa-icon 'eye'}}
      {{else}}
        {{fa-icon 'eye-slash'}}
      {{/if}}
      {{t 'partial_undesignate.available' }} ({{ model.availableQuantity }})
    </div>
    <div class="row action-row gc-orders-package-block">
      <div class="small-6 columns">
        {{toggle-switch
            disabled=(unless allowPublish true)
            on-icon='eye'
            off-icon='eye-slash'
            on-text=(t 'item_filters.published')
            off-text=(t 'item_filters.private')
            value=model.allowWebPublish
            after-change=(action 'persistModel')
        }}
      </div>
      <div class="small-6 columns designate-options">
        {{#goodcity/designate-link pkg=item allowOrderChange=true}}
          <button class="button designate-button">
            {{fa-icon 'shopping-basket'}} {{t 'item.designate'}}
          </button>
        {{/goodcity/designate-link}}

        {{#if allowItemActions}}
          {{partial "items/detail/tabs/item_options"}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="row count-row">
    <div class="columns small-4 bold">
      {{fa-icon 'bullseye'}}
      {{model.receivedQuantity}} {{t 'item_details.initial_quantity'}}
    </div>
    <div class="columns small-4">
      {{fa-icon 'paper-plane'}}
      {{model.dispatchedQuantity}} {{t 'item_filters.dispatched' }}
    </div>
    <div class="columns small-4">
      {{fa-icon 'eye'}}
      {{model.designatedQuantity}} {{t 'item_filters.designated' }}
    </div>
  </div>

  <div class="row drop-down">
    <div class="small-5 columns">
      {{t "order_details.orders_packages.search"}}: <br>
      {{focus-textfield
      name="searchText"
      id="searchText"
      class="search-orders"
      value=searchText }}
      {{#if searchText.length}}
        <i {{action "clearSearch"}} class="cancel-search">{{fa-icon 'times-circle'}}</i>
      {{/if}}
    </div>
    <div class="small-4 columns">{{t "order_details.orders_packages.sort_by"}}:
      {{#composable-drop-down setSelectedValue=(action "applySortOn") as |dropDown|}}
        {{#dropDown.dropDownHeader}}
          <div class="options-menu-title">
            {{sortingColumn.column_name}}
            &nbsp;
            {{#if (is-equal sortingColumn.sort "asc")}}
              {{fa-icon 'sort-alpha-up'}}
            {{else}}
              {{fa-icon 'sort-alpha-down'}}
            {{/if}}
          </div>
        {{/dropDown.dropDownHeader}}

        {{#dropDown.dropDownBody}}
          <div class="options_menu_list option_margin">
            {{#each dropDownItems as |item|}}
              <div class="option_menu" {{action dropDown.clickItem item}}>
                {{item.column_name}}
                &nbsp;
                {{#if (is-equal item.sort "asc")}}
                  {{fa-icon 'sort-alpha-up'}}
                {{else}}
                  {{fa-icon 'sort-alpha-down'}}
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/dropDown.dropDownBody}}
      {{/composable-drop-down}}
    </div>

    <div class="small-3 columns">
      {{t "order_details.orders_packages.state_filters"}}:
      {{#composable-drop-down as |dropDown|}}
        {{#dropDown.dropDownHeader}}
          <div class="options-menu-title">
            {{#if (is-equal filteredStates.length 0) }}
              States
            {{else if (is-equal filteredStates.length 1) }}
              {{capitalize-string filteredStates.firstObject}}
            {{else}}
              States.{{filteredStates.length}}
            {{/if}}
            &nbsp;
            {{fa-icon 'filter'}}
          </div>
        {{/dropDown.dropDownHeader}}

        {{#dropDown.dropDownBody}}
          <div class="options_menu_list option_margin">
            {{#each states as |state|}}
              <div class="option_menu">
                <div class="row">
                  <div class="column-4 columns">
                    <span class="menu-option-text">
                      {{capitalize-string state.state}}
                    </span>
                    <span class="checkbox-container">
                      {{input type="checkbox" name=state.state checked=state.enabled class="checkbox"}}
                    </span>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{/dropDown.dropDownBody}}
      {{/composable-drop-down}}
    </div>
  </div>

  {{#if displayResults}}
    {{#infinite-list height="60vh" loadMore=(action "loadOrdersPackages") as |op| }}
      {{#each op as |ordersPackage|}}
        {{goodcity/orders-package-block orderPkg=ordersPackage}}
      {{/each}}
    {{/infinite-list}}
  {{/if}}
</div>

{{partial 'items/detail/tabs/item_actions_overlay'}}