<div class="publishing-tab">
  <div class="row">
    <div class="tab-title">
      {{#if model.allowWebPublish}}
        {{fa-icon 'eye'}}
      {{else}}
        {{fa-icon 'eye-slash'}}
      {{/if}}
      {{t 'partial_undesignate.available' }} ({{ model.availableQuantity }})
    </div>
    <div class="row action-row gc-orders-package-block">
      <div class="small-6 columns">
        {{toggle-switch
            disabled=(unless allowPublish true)
            on-icon='eye'
            off-icon='eye-slash'
            on-text=(t 'item_filters.published')
            off-text=(t 'item_filters.private')
            value=model.allowWebPublish
            after-change=(action 'persistModel')
        }}
      </div>
      <div class="small-6 columns designate-options">
        {{#goodcity/designate-link pkg=item}}
          <button class="button">
            {{fa-icon 'shopping-basket'}} {{t 'item.designate'}}
          </button>
        {{/goodcity/designate-link}}

        {{#if allowItemActions}}
          {{partial "items/detail/tabs/item_options"}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="row count-row">
    <div class="columns small-4 bold">
      {{fa-icon 'bullseye'}}
      {{model.receivedQuantity}} {{t 'item_details.initial_quantity'}}
    </div>
    <div class="columns small-4">
      {{fa-icon 'paper-plane'}}
      {{model.dispatchedQuantity}} {{t 'item_filters.dispatched' }}
    </div>
    <div class="columns small-4">
      {{fa-icon 'eye'}}
      {{model.designatedQuantity}} {{t 'item_filters.designated' }}
    </div>
  </div>

  {{#if sortedOrdersPackages}}
    <div class="row">
      <div class="tab-title">
        {{fa-icon 'shopping-basket'}}
        {{t 'item.related_orders' }}
      </div>

      {{#each sortedOrdersPackages as |orderPkg|}}
        <div class="row">
          {{goodcity/orders-package-block orderPkg=orderPkg }}
        </div>
      {{/each}}
    </div>
  {{/if}}

  {{#if allowItemActions}}
    {{#if sortedItemActions}}
      <div class="row">
        <div class="tab-title">
          {{fa-icon 'random'}}
          Actions History
        </div>

        {{#each sortedItemActions as |itemAction|}}
        {{goodcity/item-action-block action=itemAction }}
        {{/each}}
      </div>
    {{/if}}
  {{/if}}

</div>
