{{partial 'items/detail/tabs/_sub_tabs' }}
<div class="row">
  <div class="large-12 medium-9 small-9 columns add-item" align="center">
    <button class="button expand" {{action 'openItemsSearch' item target=packageService}}
      disabled={{disableBoxPalletItemAddition}}>Add item to {{item.storageTypeName}}</button>
  </div>
  {{#if isMobileApp}}
    <div class="small-2 medium-2 large-2 columns scan-button">
      {{scan-barcode-button record=item route="items"}}
    </div>
  {{/if}}
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="added-item-block">
      {{#each associatedPackages as |pkg|}}
        <li class="added-item-list">
          <div class="row">
            <div class="small-2 medium-2 columns">
              <img src={{item.thumbImageUrl}} class="thumb" />
            </div>
            <div class="small-8 medium-8 columns details">
              <div class="content">
                <span>{{fa-icon storageTypeIcon }}&nbsp;&nbsp;&nbsp;{{pkg.inventory_number}}</span>
              </div>
              <div class="content">
                <span>{{pkg.added_quantity}} x {{pkg.notes}}</span>
              </div>
              <div class="content">
                {{pkg.notes}}
              </div>
            </div>
            <div class="small-2 columns close">
              <div {{action 'openLocationSearch' pkg}}>
                {{fa-icon 'times-circle' size="lg"}} <span>Remove</span></div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row item-search-overlay">
  {{goodcity/item-search-overlay
    open=packageService.openItemSearch
    associatedPackageTypes=associatedPackageTypes
    entity=packageService.entity
    onConfirm=(action 'openAddItemOverlay')
  }}
</div>

<div class="row add-to-box">
  {{goodcity/add-item-overlay
    pkg=addableItem
    open=openAddItemOverlay
    entity=item
    onConfirm=(action 'fetchAssociatedPackages')
  }}
</div>
