{{partial 'items/detail/tabs/_sub_tabs' }}

<div class="row">
  <div class="large-12 medium-9 small-9 columns add-item" align="center">
    <button class="button expand" {{action 'openItemsSearch' item target=packageService}} disabled={{disableBoxPalletItemAddition}}>Add item to {{item.storageTypeName}}</button>
  </div>
  {{#if isMobileApp}}
    <div class="small-2 medium-2 large-2 columns scan-button">
      {{scan-barcode-button record=model route="items"}}
    </div>
  {{/if}}
</div>

{{#each associatedPackages as |pkg|}}
  <div class="added-item-block">
    <p>{{pkg.notes}}
      <span action {{action 'unpackItem' pkg}}>Remove</span>
    </p>
  </div>
{{/each}}


<div class="row item-search-overlay">
  {{goodcity/item-search-overlay
    open=packageService.openItemSearch
    entity=packageService.entity
    onConfirm=(action 'fetchAssociatedPackages')
    setAssociatedPackages= setAssociatedPackages
  }}
</div>
