{{partial 'items/detail/tabs/_sub_tabs' }}
<div class="row">
  <div class="large-12 medium-9 small-9 columns add-item" align="center">
    <button class="button expand" {{action 'openItemsSearch' item}}
      disabled={{disableBoxPalletItemAddition}}>{{t 'box_pallet.add_to'}} {{item.storageTypeName}}</button>
  </div>
  {{#if isMobileApp}}
    <div class="small-2 medium-2 large-2 columns scan-button">
      {{scan-barcode-button record=item route="items"}}
    </div>
  {{/if}}
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="added-item-block">
      {{#each associatedPackages as |pkg|}}
        {{contained-package
          pkg=pkg
          entity=item
          onRemove=(action 'openLocationSearch')
        }}
      {{/each}}
    </ul>
  </div>
</div>

<div class="row item-search-overlay">
  {{goodcity/item-search-overlay
    open=packageService.openItemSearch
    associatedPackageTypes=associatedPackageTypes
    entity=packageService.entity
    onConfirm=(action 'openAddItemOverlay')
  }}
</div>

<div class="row add-to-box">
  {{goodcity/add-item-overlay
    pkg=addableItem
    open=openAddItemOverlay
    entity=item
    onConfirm=(action 'fetchContainedPackages')
  }}
</div>
