{{partial 'items/detail/tabs/_sub_tabs' }}

<div class="row">
  <div class="large-12 medium-9 small-9 columns add-item" align="center">
    <button class="button expand" {{action 'openItemsSearch'}}
      disabled={{disableBoxPalletItemAddition}}>{{t 'box_pallet.add_to'}} {{item.storageTypeName}}</button>
  </div>
  {{#if isMobileApp}}
    <div class="small-2 medium-2 large-2 columns scan-button">
      {{scan-barcode-button onScanComplete=(action "setScannedSearchText")}}
    </div>
  {{/if}}
</div>

<div class="row">
  <div class="small-12 columns">
    <ul class="added-item-block">
      {{#if displayResults}}
        {{#infinite-list height="100vh" loadMore=(action 'fetchContainedPackages') as |pkgs|}}
          {{#each pkgs as |pkg|}}
            {{#unless pkg.isDeleted}}
              {{contained-package
                pkg=pkg
                entity=item
                onUnpack=(action 'reloadItemsInContainer')
              }}
            {{/unless}}
          {{/each}}
        {{/infinite-list}}
      {{/if}}
    </ul>
  </div>
</div>

<div class="row item-search-overlay">
  {{goodcity/item-search-overlay
    open=openPackageSearch
    searchText=searchText
    associatedPackageTypes=associatedPackageTypes
    storageTypeName=item.storageTypeName
    packageStates='in_stock,designated'
    onConfirm=(action 'openAddItemOverlay')
  }}
</div>

<div class="row add-to-box">
  {{goodcity/add-item-overlay
    pkg=addableItem
    open=openAddItemOverlay
    entity=item
    updateContainer=(action 'updateContainer')
  }}
</div>
