<div class="small-12 columns type-of-id-text">
  {{t "order.client_information.rbcl.title"}}
</div>
<div class="small-12 columns id-confidential-text">
  {{t "order.client_information.rbcl.sub_title"}} <br> <br>
</div>
<div class="row hk-id">
  <div class="large-6 medium-8 small-12 columns">
    {{#form-control}}
      <div class="small-2 medium-2 large-3 columns p12">
        <label id="id-initials"> RBCL </label>
      </div>
      <div class="columns small-6 medium-6 large-6 add-request detail_type" style="margin-top: 0px;">
          {{numeric-input name="hk_id" id="hk-id-number" value=identityNumber minlength="4" maxlength="4" placeholder="XXXX" required='true' classNames="select-goods"}}
      </div>
      <div class="columns small-4 medium-2 large-3 x-with-brackets">
        / XX
      </div>
      <div class="large-11 small-12 columns">
        <div class='input-error'>
          {{fa-icon "exclamation-triangle"}}
          <span class="error-reason-margin">
            {{t "order.numbers_warning"}}
          </span>
        </div>
      </div>
      <div class="large-1 columns"></div>
    {{/form-control}}
  </div>
  <div class="large-6 medium-4 columns"></div>
</div>
<br>
