<div class="set-list">
  <div class="row set-main-controls">
    <button class="button" {{action 'addItemToCurrentSet'}}>{{t 'item.add_to_set'}}</button>
  </div>
  {{#each item.packageSet.items as |sibling index|}}
    {{#package-summary-block model=sibling parentId=index}}
      <div>{{display-package-code  item=sibling.code}}</div>
      <div class="description">{{sibling.notes}}</div>
      <div class="set-actions">
        <div class="unlink action" {{action 'unlinkFromSet' sibling bubbles=false}}>
          {{t 'item.unlink'}} <i>{{fa-icon 'unlink'}}</i>
        </div>
      </div>
    {{/package-summary-block}}
  {{/each}}
</div>
