<div class="quick-actions-page quick-actions-move-page detail">

  {{!-- TITLE --}}
  <nav class="tab-bar">
    {{#back-link fallbackRoute="/" }}
      <div class="back-link">{{ t 'back' }}</div>
    {{/back-link}}

    <section class="middle tab-bar-section">
      <h1 class="title">
        {{fa-icon 'bolt' size="xs"}}
        {{t 'quick_action_move'}}
        {{fa-icon 'bolt' size="xs"}}
      </h1>
    </section>
  </nav>

  <div class="content">
      <div class="row scanner-overlay {{unless isScanning 'hide'}}">
        {{#if isScanning}}
          <div class="scanner-preview {{if isScanning 'show'}}" id="{{scannerPreviewId}}"></div>
        {{/if}}
        {{#unless canScan}}
          <div class="scanner-error active">{{t 'scanner_unavailable'}}</div>
        {{/unless}}
      </div>

      <div class="scanner-error {{if scannerError 'active'}}">{{scannerError}}</div>

      <div class="scanner-hud flex center gutter-small">
        <button class="button light ellipsis" {{action "toggleScanning"}}>
          {{fa-icon 'qrcode'}}
          {{#if isScanning}}
            {{t 'scanner.turn_off'}}
          {{else}}
            {{t 'scanner.turn_on'}}
          {{/if}}
        </button>
        <button class="button light {{if barcodeService.flashlightActive 'light'}}" {{action 'toggleFlashlight' target=barcodeService}}>
          {{fa-icon 'lightbulb' size='lg'}}
        </button>
        <button class="button light" {{action 'pickPackage'}}>
          {{fa-icon 'search' size='lg'}} {{t 'search'}}
        </button>
      </div>

      <div class="move_content padded enforce-mobile">
        {{#if readyToMove}}
          <div>
            <p>{{fa-icon 'people-carry'}} {{t 'select_location.moving_item_to' }} {{moveTo.name}}</p>

            {{package-summary-block model=moveTarget}}

            <div>
              <p>
                {{t 'select_location.quantity_input'}}

                {{numeric-input
                  name="moveQty"
                  value=moveQty
                  maxlength="5"
                  pattern="^[1-9][0-9]*$"
                  disabled=(unless editableQty true)
                  class="qty-input"}}
              </p>
            </div>
          </div>

          <div class="row">
            <button class="column small-5 button ellipsis" {{action "cancelMove"}}>
              {{t 'cancel'}}
            </button>
            <button class="column small-5 button ellipsis" {{action "completeMove"}}>
              {{t 'confirm'}}
            </button>
          </div>
        {{/if}}
      </div>
  </div>
</div>
