<section class="main-section your-detail client-information large-10 large-offset-1 medium-10 medium-offset-1 small-12">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.appointment_detail.title"}} </h1>
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.appointment_detail.transport"}}
    </div>
    <div class="small-8 detail columns">
      {{order.appointmentTransport}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.appointment_detail.labour"}}
    </div>
    <div class="small-8 detail columns">
      {{t "order.confirm_booking.appointment_detail.labour_info"}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.appointment_detail.appointment"}}
    </div>
    <div class="small-8 detail columns">
      {{order.appointmentTime}}
    </div>
  </div>
</section>
