<section class="main-section client-information large-12 medium-12 small-12 columns">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.appointment_detail.title"}} </h1>
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.appointment_detail.transport"}}
    </div>
    <div class="small-8 detail columns">
      {{model.order.appointmentTransportLabel}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.appointment_detail.labour"}}
    </div>
    <div class="small-8 detail columns">
      {{t "order.confirm_booking.appointment_detail.labour_info"}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.appointment_detail.appointment"}}
    </div>
    <div class="small-8 detail columns">
      {{model.order.appointmentTime}}
    </div>
  </div>
</section>
