<section class="main-section client-information large-12 medium-12 small-12 columns">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.client_info_detail.title"}} </h1>
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.client_info_detail.id_type"}}
    </div>
    <div class="small-8 detail columns">
      {{model.order.clientIdType}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.client_info_detail.id_number"}}
    </div>

    <div class="small-8 detail columns">
      {{model.order.clientIdNumber}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.client_info_detail.client_name"}}
    </div>

    <div class="small-8 detail columns">
      {{model.order.clientName}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.client_info_detail.client_phone"}}
    </div>

    <div class="small-8 detail columns">
      {{model.order.clientPhone}}
    </div>
  </div>
</section>
