<section class="main-section your-detail client-information large-10 large-offset-1 medium-10 medium-offset-1 small-12">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.client_info_detail.title"}} </h1>
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.client_info_detail.id_type"}}
    </div>
    <div class="small-8 detail columns">
      {{order.clientIdType}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.client_info_detail.id_number"}}
    </div>

    <div class="small-8 detail columns">
      {{order.clientIdNumber}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.client_info_detail.client_name"}}
    </div>

    <div class="small-8 detail columns">
      {{order.clientName}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.client_info_detail.client_phone"}}
    </div>

    <div class="small-8 detail columns">
      {{order.clientPhone}}
    </div>
  </div>
</section>
