<section class="main-section client-information large-12 medium-12 small-12 columns">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.goods_detail.title"}} </h1>
    </div>
  </div>

  {{#each model.order.goodcityRequests as |request|}}
    <div class="row info">
      <div class="small-4 columns display-code-client">
        {{display-package-code item=request.code}}
      </div>
      <div class="small-5 detail columns">
        {{#if request.description}}
         {{request.description}}
        {{else}}
          <i>{{t "order.confirm_booking.goods_detail.no_description"}}</i>
        {{/if}}
      </div>
      <div class="small-2 detail columns">
        {{request.quantity}}
      </div>
    </div>
  {{/each}}
</section>
