<section class="main-section client-information large-12 medium-12 small-12 columns">
  <div class="row">
    <div class="small-12 columns type-of-id-text">
      <h1 class="title"> {{t "order.confirm_booking.your_details.title"}} </h1>
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.your_details.phone"}}
    </div>
    <div class="small-8 detail columns">
      {{model.order.createdBy.fullName}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.your_details.organisation"}}
    </div>

    <div class="small-8 detail columns">
      {{model.organisation.nameEn}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.your_details.position"}}
    </div>

    <div class="small-8 detail columns">
      {{model.organisationsUser.position}}
    </div>
  </div>

  <div class="row info">
    <div class="small-4 columns">
      {{t "order.confirm_booking.your_details.email"}}
    </div>

    <div class="small-8 detail columns">
      {{model.user.email}}
    </div>
  </div>
</section>
