<div class="row">
  <div class="book large-12 columns medium-12 small-12">
    <section class="main-section new-user-section ui login_page large-12 medium-12 small-12">
      <nav class="tab-bar">
        <a class="back">
          <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
          {{#link-to "order.appointment_details" order.id classNames="back_text"}}{{t "back"}}{{/link-to}}
        </a>

        <section class="middle tab-bar-section">
          <h1 class="title"> {{t "order.confirm_booking.title"}} </h1>
        </section>
        {{cancel-order order=order}}
      </nav>
    </section>

    <section class="main-section client-information large-12 medium-12 small-12">
      <div class="small-12 columns confirm-page-title">
        {{t "order.confirm_booking.info"}}
      </div>
      <br>
      <br>
      <div class="row">
        <div class="small-10 small-offset-1 columns">
          <button id="submit_pin" class="button expand drop_off" {{action 'confirmBooking' order}}>
            {{t "order.confirm_booking.submit_order"}}
          </button>
        </div>
      </div>
    </section>

    {{!-- User details section --}}
    {{partial "order/user_details"}}

    {{!-- Request purpose details section --}}
    {{partial "order/request_purpose_detail"}}

    {{!-- Client information details section --}}
    {{#if order.beneficiaryId}}
      {{partial "order/client_info_detail"}}
    {{/if}}

    {{!-- Goods details section --}}
    {{partial "order/goods_detail"}}

    {{!-- Appointment details section --}}
    {{partial "order/appointment_detail"}}

    <section class="main-section client-information large-12 medium-12 small-12">
      {{!-- <div class="row"> --}}
        <div class="small-10 small-offset-1 columns">
          <button id="confirm_booking_button" class="button expand drop_off" {{action 'confirmBooking' order}}>
            {{t "order.confirm_booking.submit_order"}}
          </button>
        </div>
      {{!-- </div> --}}
    </section>
  </div>
</div>
