<div class="row fixed_search_header search-box ui organisations_search">
  <div class="small-2 medium-2 columns ">
    {{cancel-order order=model.order prevPath=prevPath isCancel=false}}
  </div>

  <div class="small-10 medium-10 columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      value=searchText
      disabled=false}}

    {{#if hasSearchText}}
      <i {{action "clearSearch"}}>{{fa-icon 'times-circle'}}</i>
    {{/if}}
  </div>
</div>

<section class="main-section search-users-for-orders">
  <div class="row search">
    <div class="small-12 columns">
      {{#unless (is-equal prevPath "contact_summary")}}
        <div class="new-user">
          {{t "search_users.new_user"}}
        </div>
      {{/unless}}
      {{#if isLoading}}
        <div class="loading_screen">
          {{partial 'loading'}}
        </div>
      {{else}}
        {{#if filteredResults}}
          <ul class="list list-activity">
            {{#each filteredResults as |user|}}
              <li class="list-bottom" {{action 'goToRequestPurpose' user}}>
                <div class="row">
                  <div class="small-10 columns user_name">
                    {{user.fullName}}
                  </div>
                  <div class="small-2 columns">
                    <span class="user-mobile">{{user.mobile}}</span>
                  </div>
                </div>
                <div class="row org_name">
                  {{user.organisationsUsers.firstObject.organisation.nameEn}}
                </div>
              </li>
            {{/each}}
          </ul>
          {{#infinity-loader}}
          {{/infinity-loader}}

        {{else if hasNoResults}}
          <div class='no_result'>{{t "no_search_results"}}</div>
        {{/if}}
      {{/if}}
    </div>

  </div>
</section>

