<div class="appointment-management">

  {{!-- TITLE --}}
  <nav class="tab-bar" data-topbar>
    <div class="back-link"><a {{action "back" preventDefault=true}}>{{ t 'done' }}</a></div>
    <section class="middle tab-bar-section">
      <h1 class="title">
        {{t 'settings.appointments.title'}}
      </h1>
    </section>
  </nav>

  {{!-- TABS --}}
  <nav class="tab-bar row" data-topbar>
    <div class="columns tab preset-tab small-6 {{if isPresetsTab 'selected' 'disabled'}}">
      <a {{action "showDefault"}}>
        {{ t 'settings.appointments.default_quotas' }}
      </a>
    </div>
    <div class="columns tab special-tab small-6 {{if isSpecialTab 'selected' 'disabled'}}">
      <a {{action "showSpecial"}}>
        {{ t 'settings.appointments.special_dates' }}
      </a>
    </div>
  </nav>


  {{partial 'settings/appointments/preset_quotas_tab'}}

  {{partial 'settings/appointments/special_day_quotas_tab'}}


</div>
