{{partial 'organisations/nav_bar'}}

<section class="main-section">
  {{partial 'organisations/organisation_tabs'}}

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="name_en">{{t 'organisation.name_en'}}</label>
        {{input type="text" focusOut=(action 'updateOrganisation') autocomplete='off' value=model.nameEn autoComplete=false}}
      </li>
    </ul>
    {{#if name_en_error}}
      <div class="error-wrapper">
        <div class='error-message'>{{t 'organisation.validation_error.name'}}</div>
      </div>
    {{/if}}
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="name_zh_tw">{{t 'organisation.name_zh_tw'}}</label>
        {{input type="text" focusOut=(action 'updateOrganisation') autocomplete='off' value=model.nameZhTw autoComplete=false}}
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="name_zh">{{t 'organisation.type'}}</label>
        <div class="organisation-type">
          {{select-list
            on-change=(action 'updateOrganisationType')
            content=organisationTypes
            value=selectedOrganisationType
            selectedValue=selectedOrganisationType
            classNames='condition'
            idNames='condition-select' }}
        </div>
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="description_en">{{t 'organisation.description_en'}}</label>
        <div class="description">
          {{auto-resize-textarea data-autoresize=true name="description_en" value=model.descriptionEn focusOut=(action 'updateOrganisation') pattern=".*\S.*"}}
        </div>
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="description_zh_tw">{{t 'organisation.description_zh_tw'}}</label>
        <div class="description">
          {{auto-resize-textarea data-autoresize=true name="description_en" value=model.descriptionZhTw focusOut=(action 'updateOrganisation') pattern=".*\S.*"}}
        </div>
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="registration">{{t 'organisation.registration'}}</label>
        {{input type="text" focusOut=(action 'updateOrganisation') autocomplete='off' value=model.registration autoComplete=false}}
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="website">{{t 'organisation.website'}}</label>
        {{input type="text" focusOut=(action 'updateOrganisation') autocomplete='off' value=model.website autoComplete=false}}
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="country">{{t 'organisation.country'}}</label>
        <div class="organisation-country">
          {{searchable-select
            content=resultArray
            sortBy="name"
            optionLabelKey="nameEn"
            selected=country
            on-change=(action "updateCountry")
            isClearable=false
            prompt=""
            on-search=(action "onSearch" "country")}}
        </div>
      </li>
    </ul>
    {{#if country_error}}
      <div class="error-wrapper">
        <div class='error-message'>{{t 'organisation.validation_error.country'}}</div>
      </div>
    {{/if}}
  </div>
</section>
