{{partial 'organisations/nav_bar'}}

<section class="main-section">
  {{partial 'organisations/organisation_tabs'}}

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="name_en">Name EN</label>
        {{input type="text" focusOut=(action 'onFocusOut') autocomplete='off' value=name_en autoComplete=false}}
      </li>
    </ul>
    {{#if name_en_error}}
      <div class="error-wrapper">
        <div class='error-message'>Name cannot be blank.</div>
      </div>
    {{/if}}
  </div>

  <div class="row">
    <div class="small-4 columns">
      {{t 'organisation.description'}}:
    </div>
    {{#if model.descriptionEn}}
      <div class="small-8 columns">
        {{apply-line-break model.descriptionEn}}
      </div>
    {{/if}}
    {{#if model.descriptionZhTw}}
      <div class="small-8 columns">
        {{apply-line-break model.descriptionZhTw}}
      </div>
    {{/if}}
  </div>

  <div class="row">
    <div class="small-4 columns">
      {{t 'organisation.registration'}}:
    </div>
    <div class="small-8 columns">
      <a href= {{model.website}} target="_blank">
        {{apply-line-break model.registration}}
        <i aria-hidden="true">{{fa-icon 'external-link'}}</i>
      </a>
    </div>
  </div>
</section>
