<div class="organisation-page">

  <div class="header-container">
    <h2>
      {{t 'organisation.new'}}
    </h2>
  </div>

  {{#validatable-form onSubmit=(action 'createOrganisation') as |form| }}
    <div class="form-container">
        <ul class="wrapper">
          <li class="form-row">
            <label for="name_en">{{t 'organisation.name_en'}}</label>
            {{input id="name_en" type="text" autocomplete='off' value=name_en autoComplete=false}}
          </li>
        </ul>
        {{#if (is-and isInValidNameEn showError)}}
          <div class="error-wrapper">
              <div class='error-message'>{{t 'organisation.validation_error.name'}}</div>
          </div>
        {{/if}}
    </div>

    <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="name_zh_tw">{{t 'organisation.name_zh_tw'}}</label>
          {{input type="text" autocomplete='off' value=name_zh_tw autoComplete=false}}
        </li>
      </ul>
    </div>

    <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="name_zh">{{t 'organisation.type'}}</label>
          <div class="organisation-type">
            {{select-list
              on-change=(action 'changeOrganisationType')
              content=organisationTypes
              value=selectedOrganisationType
              classNames='condition'
              idNames='condition-select' }}
          </div>
        </li>
      </ul>
    </div>

    <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="description_en">{{t 'organisation.description_en'}}</label>
          <div class="description">
            {{auto-resize-textarea data-autoresize=true name="description_en" value=description_en pattern=".*\S.*"}}
          </div>
        </li>
      </ul>
    </div>

    <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="description_zh">{{t 'organisation.description_zh_tw'}}</label>
          <div class="description">
            {{auto-resize-textarea data-autoresize=true name="description_zh_tw" value=description_zh_tw pattern=".*\S.*"}}
          </div>
        </li>
      </ul>
    </div>

    <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="registration">{{t 'organisation.registration'}}</label>
          {{input type="text" autocomplete='off' value=registration autoComplete=false}}
        </li>
      </ul>
    </div>

    <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="website">{{t 'organisation.website'}}</label>
          {{input id="website" type="text" autocomplete='off' value=website autoComplete=false}}
        </li>
      </ul>
      {{#if isInValidWebsite}}
        <div class="error-wrapper">
          <div class='error-message'>{{t 'organisation.validation_error.website'}}</div>
        </div>
      {{/if}}
    </div>

    <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="country">{{t 'organisation.country'}}</label>
          <div class="organisation-country">
            {{searchable-select
              content=resultArray
              sortBy="name"
              optionLabelKey="nameEn"
              selected=country
              on-change=(action "setCountryValue")
              isClearable=false
              prompt=""
              id="country"
              on-search=(action "onSearch" "country")}}
          </div>
        </li>
      </ul>
      {{#if (is-and isInValidCountry showError) }}
        <div class="error-wrapper">
          <div class='error-message'>{{t 'organisation.validation_error.country'}}</div>
        </div>
      {{/if}}
    </div>

    <div class="button-container">
      <div class="button-wrapper">
        <a {{action 'cancel'}}  class="button secondary expand">{{t "cancel"}}</a>
      </div>
      <div class="button-wrapper">
        <a {{action 'submit' target=form}} class="button expand">
          {{t "save"}}
        </a>
      </div>
    </div>

  {{/validatable-form}}
</div>

{{partial "loading_image"}}
