<div class="header-container">
  <h2>
    New Organisation
  </h2>
</div>

{{#validatable-form onSubmit=(action 'createOrganisation') as |form| }}
  <div class="form-container">
      <ul class="wrapper">
        <li class="form-row">
          <label for="name_en">Name EN</label>
          {{input type="text" autocomplete='off' value=name_en autoComplete=false}}
        </li>
      </ul>
      {{#if name_en_error}}
        <div class="error-wrapper">
            <div class='error-message'>Name cannot be blank.</div>
        </div>
      {{/if}}
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="name_zh_tw">Name ZH</label>
        {{input type="text" autocomplete='off' value=name_zh_tw autoComplete=false}}
      </li>
    </ul>
    {{#if name_zh_tw_error}}
      <div class="error-wrapper">
        <div class='error-message'>Name cannot be blank.</div>
      </div>
    {{/if}}
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="name_zh">Type</label>
        <div class="organisation-type">
          {{select-list
            on-change=(action 'changeOrganisationType')
            content=organisationTypes
            value=selectedOrganisationType
            classNames='condition'
            idNames='condition-select' }}
        </div>
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="description_en">Description EN</label>
        <div class="description">
          {{auto-resize-textarea data-autoresize=true name="description_en" value=description_en pattern=".*\S.*"}}
        </div>
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="description_zh">Description ZH</label>
        <div class="description">
          {{auto-resize-textarea data-autoresize=true name="description_zh_tw" value=description_zh_tw pattern=".*\S.*"}}
        </div>
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="registration">Registration</label>
        {{input type="text" autocomplete='off' value=registration autoComplete=false}}
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="website">Website</label>
        {{input type="text" autocomplete='off' value=website autoComplete=false}}
      </li>
    </ul>
  </div>

  <div class="form-container">
    <ul class="wrapper">
      <li class="form-row">
        <label for="country">Country</label>
        <div class="organisation-country">
          {{searchable-select
            content=resultArray
            sortBy="name"
            optionLabelKey="nameEn"
            selected=country
            on-change=(action "setCountryValue")
            isClearable=false
            prompt=""
            on-search=(action "onSearch" "country")}}
        </div>
      </li>
    </ul>
    {{#if country_error}}
      <div class="error-wrapper">
        <div class='error-message'>Country cannot be blank.</div>
      </div>
    {{/if}}
  </div>

  <div class="button-container">
    <div class="button-wrapper">
      <a class="button secondary expand">{{t "cancel"}}</a>
    </div>
    <div class="button-wrapper">
      <a {{action 'submit' target=form}} class="button expand">
        {{t "save"}}
      </a>
    </div>
  </div>

{{/validatable-form}}

{{partial "loading_image"}}
