{{partial 'organisations/nav_bar'}}

<section class="main-section">
  {{partial 'organisations/organisation_tabs'}}

  <div class="row">
    <section class="main-section">
      <div class="row search">
        <ul class="list list-activity" style="cursor: default">
          {{#each organisationUsers as |OrganisationsUser|}}
            <li>
              <div class="row state_details">
                <div class="small-12 columns">
                  {{t 'organisation.user.first_name'}}: {{OrganisationsUser.user.firstName}}
                </div>
              </div>
              <div class="row state_details">
                <div class="small-12 columns">
                  {{t 'organisation.user.last_name'}}: {{OrganisationsUser.user.lastName}}
                </div>
              </div>
              <div class="row state_details">
                <div class="small-12 columns">
                  {{t 'organisation.user.mobile'}}: {{OrganisationsUser.user.mobile}}
                </div>
              </div>
              <div class="row state_details prefered_contact_number">
                <div class="small-12 columns">
                  {{t 'order_contact_summary.preferred_contact_number'}}:
                  {{OrganisationsUser.user.preferredContactNumber}}
                </div>
              </div>
              <div class="row state_details">
                <div class="small-12 columns">
                  {{t 'organisation.user.email'}}: {{OrganisationsUser.user.email}}
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
  </div>
</section>
