<nav class="tab-bar white_border_bottom">
  <section class="middle tab-bar-section">
    {{#if stockAppVersion}}
      <h1> {{t 'version'}}{{stockAppVersion}}</h1>
    {{else}}
      <h1 class="title">
        {{t 'menu'}}
      </h1>
    {{/if}}
  </section>
</nav>
<div class="row search">
  <div class="small-12 columns">
    <ul class="list list-activity menu-list">
      {{!-- {{#unless isMobileApp}} --}}
      <li class="menu-list">
        {{language-switcher}}
      </li>
      {{!-- {{/unless}} --}}
      <li class="menu-list">
        <a href="#" class="menu-list-anchor" {{action 'logMeOut'}}>
          {{fa-icon 'sign-out-alt' size="lg"}}&nbsp;&nbsp;{{t "logout.logout"}}
        </a>
      </li>
      {{#if (is-or session.currentUser.isSupervisor getCurrentUser.isSupervisor)}}
        <li class="menu-list">
          {{#link-to 'search_organisation' class="menu-list-anchor"}}
            {{fa-icon 'user-cog' size="lg"}}&nbsp;&nbsp;{{t "manage_charity_users"}}
          {{/link-to}}
        </li>
      {{/if}}
      {{#each storageTypes as |storageType|}}
        <li class="menu-list {{if storageType.disable 'disable'}}">
          <a href="#" class="menu-list-anchor {{if storageType.disable 'disable'}}" {{action 'createInventory' storageType.name target=packageService}} disabled={{storageType.disable}}>
            {{fa-icon storageType.icon size="lg"}}&nbsp;&nbsp;{{t storageType.translation}}
          </a>
        </li>
      {{/each}}
      {{#if getCurrentUser.canManageAppointments}}
        <li class="menu-list">
          {{#link-to 'appointments' class='appointments-link menu-list-anchor'}}
            {{fa-icon 'calendar-alt' size="lg"}}&nbsp;&nbsp;{{t 'manage_inventory'}}
          {{/link-to}}
        </li>
      {{/if}}
      {{#if getCurrentUser.canManageOrders}}
        <li class="menu-list">
          <a href="#" class="menu-list-anchor" {{action 'createOrder'}}>
            {{fa-icon 'shopping-basket' size="lg"}}&nbsp;&nbsp;{{t 'new_order'}}
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
</div>
{{partial "sticky_footer"}}
