<nav class="tab-bar white_border_bottom">
  <section class="middle tab-bar-section">
    <h1 class="title">
      {{t 'menu'}}
    </h1>
  </section>
</nav>

<div class="row search">
  <div class="small-12 columns">
    <ul class="list list-activity menu-list">
      <li class="menu-list">
        {{language-switcher}}
      </li>
      <li class="menu-list">
        <a href="#" class="menu-list-anchor" {{action 'logMeOut'}}>
          {{fa-icon 'sign-out-alt' size="lg"}}&nbsp;&nbsp;{{t "logout.logout"}}
        </a>
      </li>
      {{#if (is-or session.currentUser.isSupervisor getCurrentUser.isSupervisor)}}
        <li class="menu-list">
          {{#link-to 'search_organisation' class="menu-list-anchor"}}
            {{fa-icon 'user-cog' size="lg"}}&nbsp;&nbsp;Manage charity users
          {{/link-to}}
        </li>
      {{/if}}
      {{#if (is-or session.currentUser.canManageAppointments getCurrentUser.canManageAppointments)}}
        <li class="menu-list">
          {{#link-to 'appointments' class='appointments-link menu-list-anchor'}}
            {{fa-icon 'calendar-alt' size="lg"}}&nbsp;&nbsp;Manage Appointment Quotas
          {{/link-to}}
        </li>
        <li class="menu-list">
          <a href="#" class="menu-list-anchor" {{action 'createOrder'}}>
            {{fa-icon 'shopping-basket' size="lg"}}&nbsp;&nbsp;Create New Order
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
</div>

{{partial "sticky_footer"}}

