<nav class="tab-bar">
  <section class="middle tab-bar-section">
    <h1 class="title">New User</h1>
  </section>

  <section class="right-small">
    {{#link-to "login" class="user-back-link"}}
      <div>Logout</div>
    {{/link-to}}
  </section>
</nav>

<section class="main-section add-user-form new-user-section ui">
  <div class="guest-user-details">
    {{#async-validatable-form onSubmit=(action 'saveDetails') as |form|}}
    <div class="row detail-row">
      <div class="small-12 columns">
        Please complete your profile
      </div>
    </div>

    <div class="row detail-row">
      <div class="small-12 columns">
        Image (Optional)
      </div>
      <div class="small-12 columns add-user-form new-user-section">
        {{upload-user-image user=model}}
      </div>
    </div>

    <div class="row detail-row">
      <div class="small-3 columns">
        Title
      </div>
      <div class="small-5 columns">
        Your First Name
      </div>
      <div class="small-4 columns">
        Your Family Name
      </div>
      <div class="small-3 columns ui">
        {{select-list
          content=titles
          on-change=(action (mut selectedTitle))
          selectedValue=selectedTitle
          value= selectedTitle
          classNames='condition'
          idNames='title' }}
      </div>
      <div class="small-5 columns ui field-container">
        {{#form-control}}
        {{input type='text' value=firstName required='true'}}
        <div class='input-error'>{{t 'organisation.user.validation_error.first_name'}}</div>
        {{/form-control}}
      </div>
      <div class="small-4 columns ui">
        {{#form-control}}
        {{input type='text' value=lastName required='true'}}
        <div class='input-error'>{{t 'organisation.user.validation_error.family_name'}}</div>
        {{/form-control}}
      </div>
    </div>

    <div class="row detail-row">
      <div class="small-12 columns">
        Email Address (Optional)
      </div>
      <div class="small-12 columns ui">
        {{input type="text" value=email classNames=""}}
      </div>
    </div>

    <div class="row">
      <div class="small-10 small-offset-1 columns">
        <a {{action 'submit' target=form}} class="button expand">{{t 'save'}}</a>
      </div>
    </div>
    {{/async-validatable-form}}
  </div>
</section>

