<section class="main-section start_page">
  <div class="row">
    {{#if session.currentUser.canManageOrders}}
      <div class="small-12 columns summary recent_orders">
        <h2>{{t 'orders_in_process'}}</h2>
        <div class="row">
          <div class="small-3 columns" {{action 'goToOrder' 'submitted' }} >
            <div  class="order_detail submitted">
              <div class="order_title">{{t 'order_filters.submitted'}}</div>
              <div class="order_count">
                <i>{{fa-icon 'envelope'}}</i>&nbsp;&nbsp;<span>{{if model.ordersCount.submitted model.ordersCount.submitted 0}}</span>
              </div>
            </div>
          </div>

          <div class="small-3 columns" {{action 'goToOrder' 'processing' }} >
            <div  class="order_detail processing">
              <div class="order_title">{{t 'order_filters.processing'}}</div>
              <div class="order_count">
                <i>{{fa-icon 'list'}}</i>&nbsp;&nbsp;<span>{{if model.ordersCount.processing model.ordersCount.processing 0}}</span>
              </div>
            </div>
          </div>

          <div class="small-3 columns" {{action 'goToOrder' 'awaiting_dispatch' }} >
            <div  class="order_detail awaiting_dispatch">
              <div class="order_title">{{t 'order_filters.awaiting_dispatch'}}</div>
              <div class="order_count">
                <i>{{fa-icon 'clock'}}</i>&nbsp;&nbsp;<span>{{if model.ordersCount.awaiting_dispatch model.ordersCount.awaiting_dispatch 0}}</span>
              </div>
            </div>
          </div>

          <div class="small-3 columns" {{action 'goToOrder' 'dispatching' }} >
            <div  class="order_detail dispatching">
              <div class="order_title">{{t 'order_filters.dispatching'}}</div>
              <div class="order_count">
                <i>{{fa-icon 'paper-plane'}}</i>&nbsp;&nbsp;<span>{{if model.ordersCount.dispatching model.ordersCount.dispatching 0}}</span>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row order-status">
          <div class="small-3 columns">
            <div class="order_detail priority_details submitted" {{action 'goToOrder' 'submitted' true}}>
              {{#if model.ordersCount.priority_submitted }}
                <div class="order_count">
                  <i>{{fa-icon 'exclamation-triangle'}}</i>&nbsp;&nbsp;
                  <span>{{model.ordersCount.priority_submitted}}</span>
                </div>
              {{else}}
                <i>{{fa-icon 'check'}}</i>
              {{/if}}
            </div>
          </div>

          <div class="small-3 columns">
            <div class="order_detail priority_details processing" {{action 'goToOrder' 'processing' true}}>
              {{#if model.ordersCount.priority_processing }}
                <div class="order_count">
                  <i>{{fa-icon 'exclamation-triangle'}}</i>&nbsp;&nbsp;
                  <span>{{model.ordersCount.priority_processing}}</span>
                </div>
              {{else}}
                <i>{{fa-icon 'check'}}</i>
              {{/if}}
            </div>
          </div>

          <div class="small-3 columns">
            <div class="order_detail priority_details awaiting_dispatch" {{action 'goToOrder' 'awaiting_dispatch' true}}>
              {{#if model.ordersCount.priority_awaiting_dispatch }}
                <div class="order_count">
                  <i>{{fa-icon 'exclamation-triangle'}}</i>&nbsp;&nbsp;
                  <span>{{model.ordersCount.priority_awaiting_dispatch}}</span>
                </div>
              {{else}}
                <i>{{fa-icon 'check'}}</i>
              {{/if}}
            </div>
          </div>

          <div class="small-3 columns">
            <div class="order_detail priority_details dispatching" {{action 'goToOrder' 'dispatching' true}}>
              {{#if model.ordersCount.priority_dispatching }}
                <div class="order_count">
                  <i>{{fa-icon 'exclamation-triangle'}}</i>&nbsp;&nbsp;
                  <span>{{model.ordersCount.priority_dispatching}}</span>
                </div>
              {{else}}
                <i>{{fa-icon 'check'}}</i>
              {{/if}}
            </div>
          </div>
        </div>

        <div class="small-12 columns summary recent_orders counts" >
        <h2>{{t 'order_filters.recent_orders'}}</h2>
        {{#each model.recentlyUsedDesignations as |order|}}
          {{#link-to 'orders.active_items' order.id href=false}}
              <div class="row order_header">
                <div class="small-4 medium-4 large-4 columns">
                  <i class="order_transport">{{fa-icon order.transportIcon}}</i>
                  <span class="order_code">{{ order.code }}</span>
                </div>
                <div class="small-4 medium-4 large-4 columns order_user_name">
                  {{#if order.createdBy.fullName}}
                    {{order.createdBy.fullName}}
                  {{/if}}
                </div>
                <div class="small-4 medium-4 large-4 columns order_state">
                  <div class="order_state_icon {{ order.state }}">
                    <i>{{fa-icon order.stateIcon}}</i>
                  </div>
                </div>
              </div>
          {{/link-to}}
        {{/each}}
      </div>
      </div>
    {{/if}}
  </div>

  {{sticky-footer}}
</section>
