<nav class="tab-bar login-tab">
  <section class="middle tab-bar-section">
    <h1 class="title">{{t "login.login"}}</h1>
  </section>
</nav>

<section class="main-section login-page-app-info">
  <div class="row">
    <div class="small-12 columns">
      <div class="info-main">{{t "login.about_stock_app"}}</div>
      <div class="info-text">{{t "login.get_donor_app" donorAppUrl=donorAppUrl}}</div>
      <div class="info-text">{{t "login.get_charity_app" charityAppUrl=charityAppUrl}}</div>
    </div>
  </div>
</section>

{{#validatable-form class="form-horizontal login-form"}}
  <section class="main-section">
    <div class="row">
      <div class="small-12 columns">

        <div class="mobile">
          <div class="row">
            <div class="small-12 columns get-started">
              <div>{{t "login.get_started"}}</div>
              <label class="form-label">{{t "login.input_mobile"}}</label>
            </div>
          </div>

          <div class="row collapse">
            <div class="small-2 large-1 columns">
              <span class="prefix">{{t "mobile_prefix"}}</span>
            </div>
            <div class="small-10 large-11 columns">
              {{numeric-input value=mobilePhone name="mobilePhone" id="mobile" maxlength="8" required=true pattern=".{8,}" autoFocus=true}}
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row getsmscode">
      <div class="small-12 columns">
        <button id="getsmscode" type="submit" disabled = {{pinAlreadySent}} class="button expand" {{action 'resendPin'}}>{{t "continue"}}</button>
        <div class="otp-resend-pin">
          {{#if pinAlreadySent}}
            {{t "_resend.please_wait" timer=timer}}
          {{/if}}
        </div>
      </div>
    </div>

    <div class="row privacy-info-text">
      <div class="small-12 columns">
        <div>{{#link-to "pics"}}{{t "login.privacy_info"}}{{/link-to}}</div>
      </div>
    </div>

  </section>
  <br/>
  <br/>
  {{#unless isMobileApp}}
    <div class="row login-language-switcher">
      {{language-switcher}}
    </div>
  {{/unless}}
{{/validatable-form}}
