<div class="row fixed_search_header search-box ui organisations_search users-search">
  <div class="small-2 medium-2 columns back-link">
    <a class="back_icon_link" {{action "cancelSearch"}}>
      <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
      <div class="back_text">
        {{t 'back'}}
      </div>
    </a>
  </div>

  <div class="small-10 medium-10 columns">
    {{focus-textfield
      name="searchText"
      id="searchText"
      placeholder=(t "search_user")
      value=searchText
      disabled=false}}

    {{#if hasSearchText}}
    <i {{action "clearSearch"}}>{{fa-icon 'times-circle'}}</i>
    {{/if}}
  </div>
</div>

<section class="main-section user_search_result">
  <div class="row search">
    <div class="small-12 columns">
      {{#if displayResults}}
        {{#infinite-list height="75vh" loadMore=(action "loadMoreUsers") as |items| }}
          <ul class="list list-activity list-offer-items">
            {{#each items as |record|}}
            <li>
              {{#link-to 'users.details' record.id tagName='div' href=false}}
                {{partial 'users/user_row'}}
              {{/link-to}}
            </li>
            {{/each}}
          </ul>
        {{/infinite-list}}
      {{else}}
        {{#if session.currentUser.canManageUsers}}
          {{#link-to "users.add_user"}}
            <div
              class="small-6 small-offset-3 medium-offset-1 medium-10 large-8 large-offset-2 columns center-text create-user-button">
              {{fa-icon 'plus-circle' size="lg"}}&nbsp;&nbsp;{{t 'users.create_new_user'}}
            </div>
          {{/link-to}}
        {{/if}}
      {{/if}}
    </div>

  </div>
  {{sticky-footer}}
</section>
