<div class="no-permission">
  <div class="row mt-5">
    <div class="columns small-7 welcome-text">{{t 'no_permission.welcome'}}</div>
    <div class="columns small-4 logout-btn"{{action 'logMeOut'}}>{{t 'no_permission.logout'}}</div>
  </div>

  <div class="login-msg">
    {{t 'no_permission.login_msg'}}
  </div>

  <div class="manager-msg">
    {{t 'no_permission.manager_msg'}}
  </div>

  <button class="button expand try-again" {{action "tryAttemptedTransition"}} >
    {{t 'no_permission.try_again'}}
  </button>
</div>