<nav class="tab-bar welcome-bar">
  <section class="middle tab-bar-section">
    <h1 class="title">{{t 'no_permission.welcome'}}</h1>
  </section>

  <section class="right-small">
    <div class="user-back-link" {{action 'logMeOut' }}>
      {{t 'no_permission.logout'}}
    </div>
  </section>
</nav>


<div class="no-permission">
  <div class="login-msg">
    {{t 'no_permission.login_msg'}}
  </div>

  <div class="access_options">
    <div class="info-text">Two options to get access</div>

    <div class="access-heading">1. Input an access code </div>
    <div>
      {{#form-control}}
      {{input
        value=accessKey
        name="accessKey"
        maxlength="6"
        pattern=".{6,}"
        keyUp=(action "requestAccessByPass")
        autoFocus=true}}
      {{/form-control}}
    </div>

    <div class="access-heading">2. Ask your manager to grant permission</div>
  </div>

</div>
