<nav class="tab-bar welcome-bar">
  <section class="middle tab-bar-section">
    <h1 class="title">{{t 'no_permission.welcome'}}</h1>
  </section>

  <section class="right-small">
    <div class="user-back-link" {{action 'logMeOut' }}>
      {{t 'no_permission.logout'}}
    </div>
  </section>
</nav>


<div class="no-permission">
  <div class="login-msg">
    {{t 'no_permission.login_msg'}}
  </div>

  <div class="access_options">
    <div class="info-text">{{t 'no_permission.access_options'}}</div>

    {{#if isMobileApp}}
      <div class="access-option">
        {{#scan-barcode-button isBlockProvided=true onScanComplete=(action "setScannedSearchText")}}
        <button class="button expand">
          {{t "no_permission.launch_scanner"}}
        </button>
        {{/scan-barcode-button}}
      </div>

      <div class="or-text">OR</div>
    {{/if}}

    <div class="access-option">{{t 'no_permission.input_code'}}</div>
    <div>
      {{numeric-input
        value=accessKey
        formnovalidate="true"
        name="accessKey"
        maxlength="6"
        keyUp=(action "requestAccessByPass")
        pattern=".{8,}"
        autoFocus=true}}
    </div>

    <div class="or-text">OR</div>

    <div class="access-option">{{t 'no_permission.manager_msg'}}</div>
  </div>

</div>
