{{#if session.isLoggedIn}}
  {{#init-foundation className="notification"}}
    {{#notification-bar currentController=this}}
      <div class="contain-to-grid sticky notification">
        <nav class="top-bar" data-topbar role="navigation">
          <div class="row">
            <a {{action 'view'}} class='notification_box'>
              {{#if (is-equal nextNotification.category 'message')}}
                  <div class="small-7 small-offset-1 columns">
                    <div class="notification-text ellipsis one-line-ellipsis">
                      {{nextNotification.message}}
                    </div>
                  </div>
                  <div class="columns small-1 notification-icons">
                    <i class="user-icon">{{fa-icon 'arrow-circle-right'}}</i>
                  </div>
                  <div class="columns small-2 notification-icons">
                    <i class="user-icon">{{fa-icon 'user-circle'}}</i>
                  </div>
              {{else}}
                <div class="small-12 large-12 columns">
                  <div class="notification-text ellipsis one-line-ellipsis">
                    {{nextNotification.message}}
                  </div>
                </div>
              {{/if}}
            </a>
          </div>
        </nav>
      </div>
    {{/notification-bar}}
  {{/init-foundation}}
{{/if}}
