<div class="footer">
  <div class="navigation_menus">
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-5 list">
          {{#link-to 'index' tagName='li' href=false}}
            <i>{{fa-icon 'home'}}</i>
            {{t "index.home"}}
          {{/link-to}}

          {{#if (is-and filterService.getOrderState.length filterService.getOrderType.length)}}
            {{#link-to 'orders' (query-params preload=true) tagName='li' class="orders" href=false}}
              <i>{{fa-icon 'shopping-basket'}}</i>{{t "index.orders"}}
            {{/link-to}}
          {{else}}
            {{#link-to 'orders' tagName='li' class="orders" href=false}}
              <i>{{fa-icon 'shopping-basket'}}</i>{{t "index.orders"}}
            {{/link-to}}
          {{/if}}

          {{#link-to 'items' tagName='li' class="items" href=false}}
            <i>{{fa-icon 'cube'}}</i>{{t "index.items"}}
          {{/link-to}}

          {{#link-to 'my_notifications' tagName='li' class="notifications" href=false}}
            {{!-- {{#if hasMessages }} --}}
              <span class="unread">
                <div class="unread_length">99{{unreadMessageCount}}</div>
              </span>
            {{!-- {{/if}} --}}
            <i>{{fa-icon 'bell'}}</i>{{t "index.alerts"}}
          {{/link-to}}

          {{!-- <li><i>{{fa-icon 'qrcode'}}</i>{{t "index.goto"}}</li> --}}

          {{#link-to 'app_menu_list' tagName='li' class="menu" href=false}}
            <i>{{fa-icon 'bars'}}</i> {{t "footer.menu"}}
          {{/link-to}}
        </ul>
      </div>
    </div>
  </div>
</div>
