<nav class="tab-bar">
  <section class="left-small">
    {{#back-link fallbackRoute="/" }}
    <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
    <div>{{t "back"}}</div>
    {{/back-link}}
  </section>

  <section class="middle tab-bar-section">

    <h1 class="title">
      {{model.fullName}}
    </h1>
  </section>
</nav>

<section class="order-booking-tab">
  <div class="data-section">

    <div class="data-rows">
      <div class="row">
        <div class="columns small-4 text-prefix">
          First Name
        </div>
        <div class="columns small-8 text">
          {{ model.firstName }}
        </div>
      </div>
    </div>

    <div class="data-rows">
      <div class="row">
        <div class="columns small-4 text-prefix">
          Last Name
        </div>
        <div class="columns small-8 text">
          {{ model.lastName }}
        </div>
      </div>
    </div>

    <div class="data-rows">
      <div class="row">
        <div class="columns small-4 text-prefix">
          Image
        </div>
        <div class="columns small-8 text">
          <div class="content item-img">
            {{#if model.image}}
              <div class="image-zoom-container" id='image-1'>
                {{image-zoom item=model}}
              </div>
            {{else}}
              {{#link-to 'items.detail' model.id}}
                <img src={{blankImage}} />
              {{/link-to}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    <div class="data-rows">
      <div class="row">
        <div class="columns small-4 text-prefix">
          Mobile
        </div>
        <div class="columns small-8 text">
          {{ model.mobile }}
        </div>
      </div>
    </div>

    <div class="data-rows">
      <div class="row">
        <div class="columns small-4 text-prefix">
          Email
        </div>
        <div class="columns small-8 text">
          {{ model.email }}
        </div>
      </div>
    </div>

    <div class="data-rows">
      <div class="row">
        <div class="columns small-4 text-prefix">
          Roles
        </div>
        <div class="columns small-8 text">
          {{ model.roles }}
        </div>
      </div>
    </div>

    <div class="data-rows">
      <div class="row">
        <div class="columns small-4 text-prefix">
          Registered on:
        </div>
        <div class="columns small-8 text">
          {{time-ago timeValue=model.createdAt smallPrefix=false}}
        </div>
      </div>
    </div>

    <div class="data-rows">
      <div class="row">
        <div class="columns small-4 text-prefix">
          Last connected on:
        </div>
        <div class="columns small-8 text">
          {{time-ago timeValue=model.lastDisconnected smallPrefix=false}}
        </div>
      </div>
    </div>

  </div>
</section>
